// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

.starwarsffg {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/_header';
}