// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";

.starwarsffg {
  @import "components/forms";
  @import "components/sheet";
  @import "components/resource";
  @import "components/tabs";
  @import "components/header";
  @import "components/characteristics";
  @import "components/skills";
  @import "components/items";
  @import "components/talents";
  @import "components/biography";
  @import "components/itemweaponsheet";
  @import "components/itemarmorsheet";
  @import "components/itemgearsheet";
  @import "components/talentsheet";
  @import "components/minionsheet";
  @import "components/vehiclesheet";
  @import "components/itemvehicleweaponsheet";
  @import "components/itemvehicleattachmentsheet";
  @import "components/groupmanager";
  @import "components/tooltip";
  @import "components/attributes";
  @import 'components/itemcriticalinjurysheet';
  @import 'components/injuries';
  @import 'components/damage';
}
