// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";
@import "global/image";

.starwarsffg {
  @import "components/forms";
  @import "components/actorsheet_base";
  @import "components/block_base";
  @import "components/charactersheet";
  @import "components/container_base";
  @import "components/itemsheet_base";
  @import "components/sheet_base";
  @import "components/talent_blocks";
  @import "components/dicepool";
  @import "components/editor";
  @import "components/tabs";
  @import "components/skills";
  @import "components/items";
  @import "components/talents";
  @import "components/biography";
  @import "components/itemweaponsheet";
  @import "components/itemarmorsheet";
  @import "components/itemgearsheet";
  @import "components/talentsheet";
  @import "components/minionsheet";
  @import "components/vehiclesheet";
  @import "components/homesteadsheet";
  @import "components/itemvehicleweaponsheet";
  @import "components/itemvehicleattachmentsheet";
  @import "components/groupmanager";
  @import "components/tooltip";
  @import "components/itemcriticalinjurysheet";
  @import "components/injuries";
  @import "components/forcepowers";
  @import "components/specializations";
  @import "components/dataimporter";
  @import "components/species";
  @import "components/career";
  @import "components/modifiers";
  @import "components/signatureability";
  @import "components/itemmodifier";
  @import "components/itemattachment";
}

@import "components/initiative_dialog";
@import "components/ogimport";
@import "components/destiny_ui";
