<div class="emptyCompendiumNotification">
  <h2>System Message</h2>
  All of your system compendiums are empty. This is likely due to a system update. You may want to re-import your data.
  <hr>
  This message will show a maximum of once per version.
</div>
