<div class="updateNotification">
  <h2>Star Wars FFG v{{ version }}</h2>
  Hello! Welcome to a new version of the Star Wars FFG system. :)
  <hr>
  <div class="updateLinks">
    Useful links:<br>
    • <a href="https://github.com/StarWarsFoundryVTT/StarWarsFFG/wiki/new%E2%80%90features%E2%80%90v{{ version }}">Changes to how you interact with the system</a><br>
    • <a href="https://github.com/StarWarsFoundryVTT/StarWarsFFG/blob/main/CHANGELOG.md">Full changelog</a><br>
    • <a href="https://github.com/StarWarsFoundryVTT/StarWarsFFG/wiki">System Wiki</a><br>
  </div>
  <hr>
  This message will show once per version update.
</div>
