<section class="{{cssClass}} directory flexcol starwarsffg" id="{{cssId}}" data-tab="{{tabName}}">
	<ol id="combat-tracker" class="directory-list">
		{{#if (gt turnData.Friendly.length 0)}}
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			<span class="actor-header">{{localize 'SWFFG.Combats.Actors.Friendly'}}</span>
		</div>
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			{{#each turnData.Friendly }}
				{{#if ../user.isGM }}
					<img class="combatant token-image actor-header friendly{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
				{{else}}
					{{#if hidden}}
						<img class="combatant token-image actor-header enemy{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="systems/starwarsffg/images/combat/hidden.png" alt="{{localize "SWFFG.Combats.Actors.Hidden"}}"/>
					{{else}}
						<img class="combatant token-image actor-header friendly{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		{{/if}}
		{{#if (gt turnData.Enemy.length 0)}}
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			<span class="actor-header">{{localize 'SWFFG.Combats.Actors.Enemy'}}</span>
		</div>
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			{{#each turnData.Enemy }}
				{{#if ../user.isGM }}
					<img class="combatant token-image actor-header enemy{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
				{{else}}
					{{#if hidden}}
						<img class="combatant token-image actor-header enemy{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="systems/starwarsffg/images/combat/hidden.png" alt="{{localize "SWFFG.Combats.Actors.Hidden"}}"/>
					{{else}}
						<img class="combatant token-image actor-header enemy{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		{{/if}}
		{{#if (gt turnData.Neutral.length 0)}}
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			<span class="actor-header">{{localize 'SWFFG.Combats.Actors.Neutral'}}</span>
		</div>
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			{{#each turnData.Neutral }}
				{{#if ../user.isGM }}
					<img class="combatant token-image actor-header neutral{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
				{{else}}
					{{#if hidden}}
						<img class="combatant token-image actor-header neutral{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="systems/starwarsffg/images/combat/hidden.png" alt="{{localize "SWFFG.Combats.Actors.Hidden"}}"/>
					{{else}}
						<img class="combatant token-image actor-header neutral{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		{{/if}}
    {{#if (gt turnData.Secret.length 0)}}
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			<span class="actor-header">{{localize 'SWFFG.Combats.Actors.Secret'}}</span>
		</div>
		<div class="encounter-controls flexrow flex-center{{#if hasCombat}} combat{{/if}}">
			{{#each turnData.Secret }}
				{{#if ../user.isGM }}
					<img class="combatant token-image actor-header Secret{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
				{{else}}
					{{#if hidden}}
						<img class="combatant token-image actor-header secret{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="systems/starwarsffg/images/combat/hidden.png" alt="{{localize "SWFFG.Combats.Actors.Hidden"}}"/>
					{{else}}
						<img class="combatant token-image actor-header secret{{#if slotClaimed}} slot-claimed{{/if}}{{#if defeated}} defeated{{/if}}" src="{{img}}" title="{{name}}" data-combatant-id="{{id}}"/>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		{{/if}}
		{{#each custom_turns}}
			{{#if claimed}}
				<li class="combatant actor directory-item flexrow {{css}}{{#if ../user.isGM}}{{/if}} slot-{{slotType}} claimed" data-combatant-id="{{id}}" data-alt-id="{{ combatantId }}" data-slot-index="{{@index}}" data-activation-id="{{activationId}}" data-disposition="{{slotType}}" data-initiative="{{initiative}}">
					{{#if ../user.isGM}}
						<img class="token-image" src="{{img}}" title="{{name}}"/>
					{{else}}
						{{#if hidden }}
							<img class="token-image" src="systems/starwarsffg/images/combat/hidden.png" alt="{{localize "SWFFG.Combats.Actors.Hidden"}}"/>
						{{else}}
							<img class="token-image" src="{{img}}" title="{{name}}"/>
						{{/if}}
					{{/if}}
					<div class="token-name flexcol">
					{{#if ../user.isGM}}
						<h4>{{name}}</h4>
					{{else}}
						{{#if hidden }}
							<h4>{{localize "SWFFG.Combats.Actors.Hidden"}}</h4>
						{{else}}
							<h4>{{name}}</h4>
						{{/if}}
					{{/if}}
						<div class="combatant-controls flexrow">
							<div class="token-effects">
								{{#each effects}}
									<img class="token-effect" src="{{this}}"/>
								{{/each}}
							</div>
						</div>
					</div>

					<div class="token-initiative">
						{{#if hasRolled}}
							<span class="initiative">
								{{ initiative }}
							</span>
						{{else if owner}}
							<a class="combatant-control roll" data-tooltip="COMBAT.InitiativeRoll" data-control="rollInitiative"></a>
						{{/if}}
					</div>
				</li>
			{{else}}
				<li class="combatant actor directory-item flexrow {{css}} slot-{{slotType}} slot-unused-{{unused}}" data-combatant-id="{{id}}" data-alt-id="{{ combatantId }}" data-activation-id="{{activationId}}" data-disposition="{{slotType}}" data-initiative="{{initiative}}" data-slot-index="{{@index}}">
					<div class="token-name flexcol">
						{{# if unused }}
							<h4>{{ localize "SWFFG.Notifications.Combat.Claim.Unused" }} {{ slotType}} {{ localize "SWFFG.Notifications.Combat.Claim.Slot" }}</h4>
						{{ else }}
							{{#if (and canClaim active)}}
								<h4><a data-claim-slot="{{@index}}">{{ localize "SWFFG.Notifications.Combat.Claim.Claim" }}</a></h4>
							{{else}}
								<h4>{{ slotType}} {{ localize "SWFFG.Notifications.Combat.Claim.Slot" }}</h4>
							{{/if}}
						{{/if}}
					</div>

					<div class="token-initiative">
						{{#if hasRolled}}
							<span class="initiative">
								{{ initiative }}
							</span>
						{{else if owner}}
							<a class="combatant-control roll" data-tooltip="COMBAT.InitiativeRoll" data-control="rollInitiative"></a>
						{{/if}}
					</div>
				</li>
			{{/if}}
		{{/each}}
	</ol>
</section>
