@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "StarJedi";
  src: url("../fonts/StarJedi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EotESymbol";
  src: url("../fonts/EotESymbol-Regular-PLUS.otf") format("opentype");
}

$font-primary: "Roboto", sans-serif;
$font-secondary: "StarJedi", sans-serif;
$font-dice: "EotESymbol", sans-serif;
