<li class="attribute flexrow" data-attribute="{{id}}">
  <select name="{{#if direct }}system.attributes.{{ id }}.modtype{{ else }}system.itemmodifier[{{ number }}].system.attributes.{{ id }}.modtype{{/if}}" class="flat_editor dropdown modtype" data-type="modtype" data-attr-id="{{ id }}">
    {{ selectOptions modifierTypes selected=attr.modtype valueAttr="value" labelAttr="label" localize=true }}
  </select>
  <select name="{{#if direct }}system.attributes.{{ id }}.mod{{ else }}system.itemmodifier[{{ number }}].system.attributes.{{ id }}.mod{{/if}}" class="flat_editor dropdown mod" data-type="mod" data-attr-id="{{ id }}">
    {{ selectOptions (lookup modifierChoices attr.modtype) selected=attr.mod  valueAttr="value" labelAttr="label"localize=true }}
  </select>
  {{#if (eq attr.modtype "Career Skill")}}
  <input name="{{#if direct }}system.attributes.{{ id }}.value{{ else }}system.itemmodifier[{{ number }}].system.attributes.{{ id }}.value{{/if}}" type="checkbox" class="modvalue" {{#if attr.value }}checked{{/if}} data-attr-id="{{ id }}">
  {{else}}
  <input name="{{#if direct }}system.attributes.{{ id }}.value{{ else }}system.itemmodifier[{{ number }}].system.attributes.{{ id }}.value{{/if}}" type="number" class="modvalue" value="{{ attr.value }}" data-attr-id="{{ id }}">
  {{/if}}
  <a class="attribute-control flat_editor add-mod" data-action="delete"><i class="fas fa-trash"></i></a>
</li>
