<div class="resource {{blocktype}} {{name}}">
  <div class="attribute flex-group-center">
    <div class="block-background">
      <div class="block-title">
        {{#if headerlink}}
        <a class="{{headerclass}}" {{{headerattributes}}}>{{localize title}}</a>
        {{else}} {{localize title}} {{/if}}
      </div>
      <div class="block-attribute">
        {{#if (eq blocktype "pills")}}
        <ul class="item-pill-list">
          {{#each fields as |item id|}}
          <li class="item-pill {{#if adjusted}}adjusted{{/if}}" data-item-name="{{../name}}" data-item-index="{{id}}">
            {{item.name}} {{#if item.data.rank_current}}
            <i class="rank">{{item.data.rank_current}}</i>
            {{/if}} {{#if adjusted}}{{else}}<i class="fas fa-times item-delete"></i>{{/if}}
          </li>
          {{/each}}
        </ul>
        {{/if}} {{#if (or (eq blocktype "single") (eq blocktype "double") (eq blocktype "full")) }} {{#if (eq type "Boolean")}}
        <input class="ranked-toggle" style="text-align: center;" type="checkbox" name="{{name}}" data-dtype="{{type}}" {{checked value}} />
        {{/if}} {{#if (eq type "Dropdown")}}
        <select style="text-align: center;" name="{{name}}">
          {{#select value}} {{#each options as |t|}}
          <option value="{{t.value}}">{{localize t.label}}</option>
          {{/each}} {{/select}}
        </select>
        {{/if}} {{#if (eq type "Multicheckbox")}}
        <div class="grid grid-2col firing-arcs">
          {{#each fields as |t|}}
          <div>
            <input type="checkbox" id="{{t.name}}" name="{{t.name}}" {{checked t.value}} />
            <label for="{{t.name}}"> {{localize t.label}}</label>
          </div>
          {{/each}}
        </div>
        {{/if}} {{#if (eq type "PopoutEditor")}}
        <div class="block-value block-single">
          <div class="popout-editor" data-target="{{name}}" data-label="{{localize title}}">
            <div class="popout-editor-button"><i class="fas fa-edit"></i></div>
            {{{ffgDiceSymbols value}}}
          </div>
        </div>
        {{/if}} {{#if (and (ne type "Boolean") (ne type "Dropdown") (ne type "Multicheckbox") (ne type "PopoutEditor"))}}
        <div class="block-value block-single">{{#if prefix}}{{{prefix}}}{{/if}}<input type="text" name="{{name}}" value="{{value}}" data-dtype="{{type}}" {{#if disabled}}disabled{{/if}} /></div>
        {{/if}} {{/if}} {{#if (eq blocktype "split")}} {{#each fields as |t|}}
        <div class="block-value"><input type="text" name="{{name}}" value="{{value}}" data-dtype="type" {{#if disabled}}disabled{{/if}} /></div>
        {{/each}} {{/if}} {{#with (lookup options [value])~}} {{#if (ne label ../adjusted)}}
        <div class="adjustedvalue">{{localize adjusted}}</div>
        {{/if}} {{/with}}
      </div>
    </div>
    {{#if (or (eq hasShadow true) (eq blocktype "split"))}}
    <div class="block-background-shadow">
      <div class="shadow-left">
        <div class="shadow-text">{{localize fields.[0].label}}</div>
      </div>
      <div class="shadow-right">
        <div class="shadow-text">{{localize fields.[1].label}}</div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
