<table>
  <thead>
  <tr>
    <th class="attribute-modtype">{{localize "SWFFG.ModifierType"}}</th>
    <th class="attribute-mod">{{localize "SWFFG.Modifier"}}</th>
    <th class="attribute-value">{{localize "SWFFG.ModifierValue"}}</th>
    <th class="attribute-value">Active</th>
    <th class="attribute-control"><i class="fas fa-plus attribute-control add-new-item" data-action="create" data-acceptable-type="itemmodifier"></i></th>
  </tr>
  </thead>
  <tbody>
  {{#each data.attributes as |attr key|}} {{#if attr.exclude}} {{ else }}
  <tr class="attribute" data-attribute="{{ key }}">
    <td>
      <!-- modifier type -->
      <input class="attribute-key" type="text" name="data.attributes.{{ key }}.key" value="{{ key }}" style="display: none;"/>
        <select class="attribute-modtype" name="data.attributes.{{ key }}.modtype">
          {{#select attr.modtype}}
            {{#each ../data.modifier_types as |modifier_type|}}
            {{#each (lookup ../../this.FFG modifier_type) as |t|}}
              <option value="{{ t.value }}">{{ localize t.label}}</option>
            {{/each}}
            {{/each }}
          {{/select}}
      </select>
    </td>
    <td>
      <!-- modifier -->
      <select class="attribute-mod" name="data.attributes.{{ key }}.mod">
        {{#select attr.mod}}
          {{#with (lookup (lookup (lookup ../this.FFG ../data.modifier_types) attr.modtype) 'key') as |mod_key| }}
            {{# each (lookup ../../this.FFG mod_key) as |t|}}
              <option value="{{ t.value }}">{{ localize t.label}}</option>
            {{/each }}
          {{/with }}
        {{/select}}
    </select>
    </td>
    <td>
      <!-- value -->
      {{#if (or (eq attr.modtype "Career Skill") (eq attr.modtype "Force Boost") )}}
          <input class="attribute-value" type="checkbox" name="data.attributes.{{ key }}.value" data-dtype="Boolean"
                  {{#if (or (eq attr.value "0")(eq attr.value false)) }}
                  {{ else }}
                      checked
                  {{/if}}
          />
      {{/if}}
      {{#if (and (eq attr.modtype "Stat") (eq key "Shields") )}}
          <input class="attribute-value" type="text" name="data.attributes.{{ key }}.value" value="{{ attr.value }}"/>
      {{/if}}
      {{#if (and (ne attr.modtype "Career Skill") (ne attr.modtype "Force Boost") (ne key "Shields") )}}
          <input class="attribute-value" type="text" name="data.attributes.{{ key }}.value" value="{{ attr.value }}" data-dtype="Number" placeholder="0"/>
      {{/if}}
    </td>
    <td>
      <!-- activate/deactivate -->
      <input type="checkbox" name="data.attributes.{{ key }}.active" {{#if attr.active }}checked{{/if}}/>
    </td>
    <td>
      <!-- delete button -->
      <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
    </td>
  </tr>
  {{/if}} {{/each}}
  </tbody>
</table>
