.window-app {
  font-family: $font-primary;

  .window-content {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 9pt;
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}