div,
section {
  scrollbar-width: thin;
}

.window-app {
  font-family: $font-primary;

  .window-content {
    background: rgb(204, 204, 204);
    font-size: 9pt;
  }
}

.hidden-content {
  @include hide;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

#chat-log {
  .message {
    background: rgb(238, 238, 238);
  }
}

#chat-form {
  textarea {
    background: rgb(245, 245, 245);
  }
}

span.dietype.starwars {
  font-family: $font-dice;
}
span.dietype.genesys {
  font-family: $font-dice2;
}

span.dietype {
  &.ability {
    color: green;

    // &::after {
    //   content: "d";
    // }
  }

  &.advantage {
    color: black;

    // &::after {
    //   content: "a";
    // }
  }

  &.boost {
    color: lightskyblue;

    // &::after {
    //   content: "b";
    // }
  }
  &.challenge {
    color: red;

    // &::after {
    //   content: "c";
    // }
  }
  &.dark {
    color: black;

    // &::after {
    //   content: "z";
    // }
  }
  &.despair {
    color: black;

    // &::after {
    //   content: "y";
    // }
  }
  &.difficulty {
    color: purple;

    // &::after {
    //   content: "d";
    // }
  }
  &.forcepoint {
    color: black;

    // &::after {
    //   content: "Y";
    // }
  }
  &.failure {
    color: black;

    // &::after {
    //   content: "f";
    // }
  }
  &.force {
    color: black;

    // &::after {
    //   content: "C";
    // }
  }
  &.light {
    color: black;

    // &::after {
    //   content: "Z";
    // }
  }
  &.proficiency {
    color: yellow;

    // &::after {
    //   content: "c";
    // }
  }
  &.setback {
    color: black;

    // &::after {
    //   content: "b";
    // }
  }
  &.success {
    color: black;

    // &::after {
    //   content: "s";
    // }
  }
  &.threat {
    color: black;

    // &::after {
    //   content: "t";
    // }
  }
  &.triumph {
    color: black;

    // &::after {
    //   content: "x";
    // }
  }
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
// .paused {
//   img {
//     content: url("/systems/starwarsffg/images/paused.png");
//   }
// }