<div class="attribute" style="padding-left: 2px;">
  <div class="block-background">
    <div class="block-title attribute">
      {{#if (ne title undefined)}}
        {{title}}
      {{else}}
        {{localize "SWFFG.DefaultMedicalItemName"}}
      {{/if}}
    </div>
    <div class="flex block-attribute">
      <div class="flex">
        <div>
          <i class="fas fa-minus-circle medical"></i>
            {{#if (ne value undefined)}}
                {{value}}/5
            {{else}}
                0/5
            {{/if}}

          <i class="fas fa-plus-circle medical"></i>
        </div>
      </div>
      <div>
        <button
          type="button"
          value="resetUses"
          class="resetMedical fas fa-recycle"
        ></button>
      </div>
    </div>
  </div>
</div>