<ul class="talent-list">
  <li class="talents-header flexrow">
    <div class="header-name">{{localize "SWFFG.Talents"}}</div>
    <div>{{localize "SWFFG.TalentsActivation"}}</div>
    <div>{{localize "SWFFG.TalentsRank"}}</div>
    {{#if (ne this.FFG.theme "starwars" )}}
    <div>{{localize "SWFFG.TalentsCurrentTier"}}</div>
    {{/if}}
    <div></div>
  </li>

  <ul class="items-list">
    {{#each data.talentList as |item id|}}
    <li class="item specialization-talent-item flexrow" data-item-id="{{item.itemId}}">
      <div class="item-name">
        {{item.name}}
      </div>
      <div>{{localize item.activationLabel}}</div>
      <div>{{item.rank}}</div>
      {{#if (ne this.FFG.theme "starwars" )}}
      <div>{{item.tier}}</div>
      {{/if}}
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-info" title="Item Information"><i class="fas fa-info-circle"></i></a>
      </div>
    </li>
    {{/each}}
  </ul>
</ul>
