<div class="injuries">
  <div class="resource full">
    <div class="attribute flex-group-center">
      <div class="block-background">
        <div class="block-header">
          <div>{{localize "SWFFG.CriticalInjuries"}}</div>
          <div class="grid grid-2col">
            <div>{{localize "SWFFG.Result"}}</div>
            <div>{{localize "SWFFG.Severity"}}</div>
          </div>
        </div>
        <div class="block-attribute">
          {{#each actor.items as |item id|}} {{#iff item.type '==' 'criticalinjury'}}
          <div class="grid grid-2col item" data-item-id="{{item._id}}">
            <div class="item-name hover">
              {{item.name}}
              <div class="tooltip">{{{renderDiceTags item.data.description}}}</div>
            </div>
            <div class="severity">
              {{renderMultiple item.data.severity '<img class="severity-img" src="/modules/special-dice-roller/public/images/sw/purple.png" />'}}
              <div class="item-controls">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          </div>
          {{/iff}} {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
