<div class="skillsTablesGrid">
  <div class="pure-g skillsGrid">
    {{#each data.skilllist as |skillcolumn|}}
    <div class="pure-u-12-24 skillTypeGrid skillColumnGrid">
      {{#each this as |skill|}} {{#if (eq skill.id "header")}}
      <div class="skillTable" data-type="{{skill.type}}">
        <div class="pure-g skillsHeader">
          <div class="pure-u-12-24">{{skill.label}}</div>
          <div class="pure-u-3-24 hover">
            {{#if (eq ../../this.document.type "minion")}}
              <span data-tooltip="{{localize 'SWFFG.SkillsGroupSkill'}}" data-tooltip-direction="DOWN">
                {{localize "SWFFG.SkillsGS"}}
              </span>
            {{else}}
              <span data-tooltip="{{localize 'SWFFG.SkillsCareerSkill'}}" data-tooltip-direction="DOWN">
                {{localize "SWFFG.SkillsCS"}}
              </span>
            {{/if}}
          </div>
          <div class="pure-u-3-24">{{localize "SWFFG.SkillsRank"}}</div>
          <div class="pure-u-6-24">{{localize "SWFFG.SkillsRoll"}}</div>
        </div>
      </div>
      {{else}}
      <div class="skillTable" data-type="{{skill.type}}">
        <div data-ability="{{skill.name}}" data-skilltype="{{skill.type}}" data-characteristic="{{skill.characteristic}}" class="pure-g skill" data-custom="{{ skill.custom }}" draggable="true">
          <div class="pure-u-12-24">
            <div class="skill-name">
              {{#if (eq ../../this.actor.type "character")}}<i class="fa-regular fa-circle-up ffg-purchase" data-buy-action="skill" title="{{localize "SWFFG.Actors.Sheets.Purchase.Tooltip.SkilLRank"}}"></i>{{/if}}
              {{#if skill.useForInitiative}}*{{/if}}{{skill.label}} {{#with (lookup ../../this.FFG.characteristics [characteristic])~}}
              <div class="skill-characteristic" data-characteristic="{{skill.characteristic}}">({{localize abrev}})</div>
              {{/with}}
            </div>
          </div>
          {{#if (eq ../../actor.type "minion")}}
          <div class="pure-u-3-24 hover"><input class="careerskill-toggle" type="checkbox" name="data.skills.{{skill.name}}.groupskill" data-dtype="Boolean" {{checked skill.groupskill}} /></div>
          {{else}}
          <div class="pure-u-3-24 hover"><input class="careerskill-toggle" type="checkbox" name="data.skills.{{skill.name}}.careerskill" data-dtype="Boolean" {{checked skill.careerskill}} /></div>
          {{/if}}
          <div class="pure-u-3-24"><input class="careerskill-rank" name="data.skills.{{skill.name}}.rank" value="{{skill.rank}}" type="text" min="0" data-dtype="Number" placeholder="0" {{#if ../../disabled }}disabled{{/if }}/></div>
          <div class="pure-u-6-24"><div class="roll-button dice-pool"></div></div>
        </div>
      </div>
      {{/if}} {{/each}}
    </div>
    {{/each}}
  </div>
</div>
