{{#if (ne actor.type "vehicle")}} {{!-- Weapons List --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.ItemsWeapons"}}</div>
    <div class="">{{localize "SWFFG.Equipped"}}</div>
    <div class="">{{localize "SWFFG.ItemsSkill"}}</div>
    <div class="">{{localize "SWFFG.ItemsDamage"}}</div>
    <div class="">{{localize "SWFFG.ItemsRange"}}</div>
    <div class="">{{localize "SWFFG.ItemsCrit"}}</div>
    <!-- <div class="">{{localize "SWFFG.ItemsEncum"}}</div> -->
    <!-- <div class="">{{localize "SWFFG.ItemsSpecial"}}</div> -->
    <div class=""></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#iff item.type '==' 'weapon'}}
    <li class="item flexrow" data-item-id="{{item._id}}" data-ability="{{item.data.skill.value}}">
      <div class="item-name">{{item.name}}</div>
      <div>
        {{#if item.data.equippable.equipped}}
        <a class="toggle-equipped active" data-item-id="{{item._id}}" title="Equipped"><i class="fas fa-fist-raised"></i></a>
        {{else}}
        <a class="toggle-equipped" data-item-id="{{item._id}}" title="Equipped"><i class="fas fa-fist-raised"></i></a>
        {{/if}}
      </div>
      <div class="skill-roll">
        <div class="roll-button"><div class="skill-label rollable">{{#with (lookup ../this.FFG.skills item.data.skill.value)}}{{localize this.abrev}}{{/with}}</div></div>
      </div>
      <div>{{item.data.damage.value}} {{#if (ne item.data.damage.value item.data.damage.adjusted)}}({{item.data.damage.adjusted}}){{/if}}</div>
      <div>{{localize item.data.range.label}}</div>
      <div>{{item.data.crit.value}}</div>
      <!-- <div>{{item.data.encumbrance.value}}</div> -->
      <!-- <div>{{{renderDiceTags item.data.special.value}}}</div> -->
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
</ul>

{{!-- Armour List --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.ItemsArmor"}}</div>
    <div>{{localize "SWFFG.Equipped"}}</div>
    <div>{{localize "SWFFG.ItemsDefense"}}</div>
    <div>{{localize "SWFFG.ItemsSoak"}}</div>
    <div>{{localize "SWFFG.ItemsHP"}}</div>
    <!-- <div>{{localize "SWFFG.ItemsEncum"}}</div> -->
    <div></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#iff item.type '==' 'armour'}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">{{item.name}}</div>
      <div>
        {{#if item.data.equippable.equipped}}
        <a class="toggle-equipped active" data-item-id="{{item._id}}" title="Equipped"><i class="fas fa-shield-alt"></i></a>
        {{else}}
        <a class="toggle-equipped" data-item-id="{{item._id}}" title="Equipped"><i class="fas fa-shield-alt"></i></a>
        {{/if}}
      </div>
      <div>{{item.data.defence.value}}</div>
      <div>{{item.data.soak.value}}</div>
      <div>{{item.data.hardpoints.value}}</div>
      <!-- <div>{{item.data.encumbrance.value}}</div> -->
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
</ul>

{{!-- Gear List --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.ItemsGear"}}</div>
    <!-- <div>{{localize "SWFFG.ItemsPrice"}}</div>
    <div>{{localize "SWFFG.ItemsRarity"}}</div> -->
    <div>{{localize "SWFFG.ItemsQuantity"}}</div>
    <!-- <div>{{localize "SWFFG.ItemsEncum"}}</div> -->
    <div></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#iff item.type '==' 'gear'}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">{{item.name}}</div>
      <!-- <div>{{item.data.price.value}}</div>
      <div>{{item.data.rarity.value}}</div> -->
      <div>{{item.data.quantity.value}}</div>
      <!-- <div>{{item.data.encumbrance.value}}</div> -->
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
</ul>

{{else}} {{!-- Ship Weapons List --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.VehicleTabShipWeapons"}}</div>
    <div class="">{{localize "SWFFG.VehicleTabFiringArc"}}</div>
    <div class="">{{localize "SWFFG.VehicleTabDamage"}}</div>
    <div class="">{{localize "SWFFG.VehicleTabRange"}}</div>
    <div class="">{{localize "SWFFG.VehicleTabCritical"}}</div>
    <div class=""></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#iff item.type '==' 'shipweapon'}}
    <li class="item flexrow" data-item-id="{{item._id}}" data-ability="{{item.data.skill.value}}">
      <div class="item-name">{{item.name}}</div>
      <div>{{#if (eq item.data.firingarc.fore true)}}{{localize "SWFFG.VehicleFiringArcForward"}}{{/if}} {{#if (eq item.data.firingarc.aft true)}}{{localize "SWFFG.VehicleFiringArcAft"}}{{/if}} {{#if (eq item.data.firingarc.port true)}}{{localize "SWFFG.VehicleFiringArcPort"}}{{/if}} {{#if (eq item.data.firingarc.starboard true)}}{{localize "SWFFG.VehicleFiringArcStarboard"}}{{/if}} {{#if (eq item.data.firingarc.dorsal true)}}{{localize "SWFFG.VehicleFiringArcDorsal"}}{{/if}} {{#if (eq item.data.firingarc.ventral true)}}{{localize "SWFFG.VehicleFiringArcVentral"}}{{/if}}</div>
      <div>{{item.data.damage.value}}</div>
      <div>{{localize item.data.range.label}}</div>
      <div>{{item.data.crit.value}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
</ul>

{{!-- Ship Attachment List --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.VehicleTabShipAttachments"}}</div>
    <div>{{localize "SWFFG.VehicleTabHardPoints"}}</div>
    <div></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#iff item.type '==' 'shipattachment'}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">{{item.name}}</div>
      <div>{{item.data.hardpoints.value}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/iff}} {{/each}}
  </ul>
</ul>

{{!-- Cargo Hold --}}
<ul class="items">
  <li class="items-header flexrow">
    <div class="header-name">{{localize "SWFFG.VehicleTabShipCargoHold"}}</div>
    <!-- <div>{{localize "SWFFG.ItemsPrice"}}</div>
    <div>{{localize "SWFFG.ItemsRarity"}}</div> -->
    <div>{{localize "SWFFG.ItemsQuantity"}}</div>
    <!-- <div>{{localize "SWFFG.ItemsEncum"}}</div> -->
    <div></div>
  </li>

  <ul class="items-list">
    {{#each actor.items as |item id|}} {{#if (and (ne item.type "shipweapon") (ne item.type "shipattachment") (ne item.type "talent") (ne item.type "criticalinjury") (ne item.type "criticaldamage") )}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">{{item.name}}</div>
      <!-- <div>{{item.data.price.value}}</div>
      <div>{{item.data.rarity.value}}</div> -->
      <div>{{item.data.quantity.value}}</div>
      <!-- <div>{{item.data.encumbrance.value}}</div> -->
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/if}} {{/each}}
  </ul>
</ul>
{{/if}}
