
<div class="starwarsffg item-card">
  <section class="card-header collapsible">
    <span class="title"><b>{{ item.name }}</b></span>
    <header class="summary expanded">
      <img class="icon" src="{{ item.img }}" alt="{{ item.name }}" title="{{ item.name }}"/>
      <div class="name-stacked border">
        {{> "systems/starwarsffg/templates/chat/parts/item/ffg-header.html" item=item }}
      </div>
      <i class="fas fa-chevron-down fa-fw collapse-toggle"></i>
    </header>
    <section class="card-content details collapsible-content">
      <div class="wrapper">
        <p>
          {{{itemDetails.prettyDesc}}}
        </p>
        {{#if itemDetails.doNotSubmit.qualities.length }}
        <div class="properties">
          <span class="tag">
            <b>{{ localize "SWFFG.ItemDescriptors" }}:</b>
            {{#each itemDetails.doNotSubmit.qualities as |item id|}}
              <div class="item-pill hover-tooltip" data-item-type="itemmodifier" data-item-embed-name="{{ name }}" data-item-embed-img="{{ item.img }}" data-desc="{{ item.description }}" data-item-ranks="{{ item.totalRanks }}" data-tooltip="Loading...">
                {{{name}}}
              </div>
            {{/each}}
          </span>
        </div>
        {{/if}}
        {{#if item.system.itemattachment.length }}
        <div class="properties">
          <span class="tag">
            <b>{{ localize "SWFFG.Labels.ItemAttachments" }}:</b>
            {{#each item.system.itemattachment as |item id| }}
              <div class="item-pill hover-tooltip" data-item-embed-name="{{ name }}" data-item-embed-img="{{ img }}" data-item-id="{{item._id}}" data-desc="{{ item.system.description }}" data-rarity="{{ item.system.rarity.value }}" data-price="{{ item.system.price.value }}" data-mod-names="{{#each item.system.itemmodifier as |mod mod_id|}}{{mod.name}}~{{/each}}" data-mod-descs="{{#each item.system.itemmodifier as |mod mod_id|}}{{mod.system.description}}~{{/each}}" data-mod-actives="{{#each item.system.itemmodifier as |mod mod_id|}}{{mod.system.active}}~{{/each}}" data-item-type="itemattachment" data-item-name="{{ item.name }}" data-item-index="{{ @index }}" data-tooltip="Loading...">
                {{{name}}}
              </div>
            {{/each}}
          </span>
        </div>
        {{/if}}
        {{#if itemDetails.textProperties.length }}
        <div class="properties">
          <span class="tag">
            <b>{{ localize "SWFFG.HomesteadTabUpgrades" }}:</b>
            <ul>
            {{#each itemDetails.textProperties as |item id|}}
              <li class="item-pill hover-tooltip" data-item-embed-name="{{ name }}" data-item-type="forcePower" data-item-embed-img="{{ img }}" data-desc="{{ item.description }}" data-item-ranks="{{ rank }}" data-tooltip="Loading...">
                {{name}} {{ rank }}
              </li>
            {{/each}}
            </ul>
          </span>
        </div>
        {{/if}}
        {{#if itemDetails.specializations.length }}
        <div class="properties">
          <span class="tag">
            <b>{{ localize "SWFFG.Specializations" }}:</b>
            <ul>
            {{#each itemDetails.specializations as |item id| }}
              <li class="item-pill hover-tooltip" data-item-embed-name="{{ name }}" data-item-type="specialization" data-item-embed-img="{{ img }}" data-desc="{{ item.description }}" data-tooltip="Loading...">
                {{name}}
              </li>
            {{/each}}
            </ul>
          </span>
        </div>
        {{/if}}
        {{#if itemDetails.signatureAbilities.length }}
        <div class="properties">
          <span class="tag">
            <b>{{ localize "SWFFG.SignatureAbilities" }}:</b>
            <ul>
            {{#each itemDetails.signatureAbilities }}
              <li class="item-pill hover-tooltip" data-item-embed-name="{{ name }}" data-item-type="signatureAbility" data-item-embed-img="{{ img }}" data-desc="{{ item.description }}" data-tooltip="Loading...">
                {{name}}
              </li>
            {{/each}}
            </ul>
          </span>
        </div>
        {{/if}}
      </div>
    </section>
    {{> "systems/starwarsffg/templates/chat/parts/item/ffg-footer.html" item=item }}
  </section>
</div>
