<div class="item-display">
  {{#iff (defaultImage system.crew.img) '!=' true}}
    <img class="item-image" src="{{system.crew.img}}" />
  {{/iff}}
  <h2 class="item-name">{{system.crew.name}}</h2>
  <h4 class="item-damage">
      {{localize "SWFFG.Crew.Card.Role"}}:
      <input class="damage-value" type="text" value="{{system.crew.role}}" disabled />
  </h4>
</div>
