<div class="item-display">
  {{#if (ne data.img "icons/svg/mystery-man.svg")}}
  <img class="item-image" src="{{data.img}}" />
  {{/if}}
  <h2 class="item-name">{{data.name}}</h2>
  {{#if ffg.success}}
  <h4 class="item-damage">Damage: <input class="damage-value" type="text" value="{{data.data.damage.adjusted}} + {{ffg.success}} = {{math data.data.damage.adjusted '+' ffg.success}}" disabled /></h4>
  <h4 class="item-critical">Critical: <input class="damage-value" type="text" value="{{data.data.crit.value}}" disabled /></h4>
  {{else}}
  <h4 class="item-miss">Miss!</h4>
  {{/if}} {{#if data.data.special.value}}
  <div class="specials">
    <h5>
      Special Qualities:
      <div class="damage-value">{{{ffgDiceSymbols data.data.special.value}}}</div>
    </h5>
  </div>
  {{/if}}
</div>
