<div class="dialog-content sheet-options-dialog">
  <form class="flexcol" autocomplete="off">
    {{#each content.options as |option id|}}
    <div class="form-group">
      <label>{{option.name}}</label>
      <div class="form-fields">
        {{#if (eq option.type "Boolean")}}
        <input type="checkbox" name="flags.starwarsffg.config.{{id}}" id="{{id}}" data-dtype="Boolean" {{checked option.value}} />
        {{/if}} {{#if (eq option.type "String")}}
        <input type="text" name="flags.starwarsffg.config.{{id}}" id="{{id}}" data-dtype="String" value="{{localize option.value}}" />
        {{/if}} {{#if (eq option.type "Array")}}
        <select name="flags.starwarsffg.config.{{id}}" id="{{id}}">
          {{#selectFfg option.value }}{{#each option.options as |optionvalue id| }}
          <option value="{{id}}">{{optionvalue}}</option>
          {{/each}}{{/selectFfg}}
        </select>
        {{/if}}
      </div>
      <p class="notes">
        {{option.hint}}
      </p>
    </div>
    {{/each}}
  </form>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}
  <button class="dialog-button" data-button="{{id}}">
    {{{button.icon}}} {{{button.label}}}
  </button>
  {{/each}}
</div>
