<form autocomplete="off" onsubmit="event.preventDefault();">
  <p class="notes">You may import character data from an exported OggDuce XML file.</p>
  <p class="notes">This operation will update the data for a previously imported version.</p>
  <div class="form-group">
    <label for="data">Source Data</label>
    <input type="file" name="data" />
  </div>
</form>
