<form class="{{cssClass}} character" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div id="actor-id" data-actor="{{actor._id}}" style="display: none;"></div>

    <div class="header-fields">
      {{!-- Character Details Container --}}
      <div class="container" style="flex-wrap: nowrap;">
        <div class="profile-block">
          <div>
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
          </div>
        </div>
        <div class="container">
          <div class="header-name header-description-block">
            <div style="{{#if limited}}display:none;{{/if}}">
              <h2><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWFFG.Name'}}" data-dtype="String" /></h2>
            </div>
            <table class="character-details-table">
              <tbody>
              <tr>
                <td>
                  {{localize "SWFFG.Species"}}:
                </td>
                <td>
                  {{#each_when actor.items "type" "species"}}
                    <div class="species-pill item" data-item-id="{{item._id}}">{{item.name}} <i class="fas fa-times item-delete"></i></div>
                  {{else}}
                    <div class="drag-note">{{localize "SWFFG.DragNotes"}}</div>
                  {{/each_when}}
                </td>
                <td style="{{#if limited}}display:none;{{/if}}">
                  {{localize "SWFFG.SignatureAbilities"}}:
                </td>
                <td style="{{#if limited}}display:none;{{/if}}">
                  {{#each_when actor.items "type" "signatureability"}}
                  <div class="signatureability-pill item" data-item-id="{{item._id}}">
                    {{item.name}} <i class="fas fa-times item-delete"></i>
                  </div>
                  {{else}}
                  <div class="drag-note">{{localize "SWFFG.DragNotes"}}</div>
                  {{/each_when}}
                </td>
              </tr>
              <tr style="{{#if limited}}display:none;{{/if}}">
                <td>
                  {{localize "SWFFG.Career"}}:
                </td>
                <td>
                  {{#each_when actor.items "type" "career"}}
                  <div class="career-pill item" data-item-id="{{item._id}}">{{item.name}} <i class="fas fa-times item-delete"></i></div>
                  {{else}}
                  <div class="drag-note">{{localize "SWFFG.DragNotes"}}</div>
                  {{/each_when}}
                </td>
                <td>
                  {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined) (eq actor.flags.starwarsffg.config.enableForcePool true) )}}
                  {{localize "SWFFG.ForcePowers"}}:
                  {{/if}}
                </td>
                <td>
                  {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined) (eq actor.flags.starwarsffg.config.enableForcePool true) )}}
                  {{#each_when actor.items "type" "forcepower"}}
                  <div class="forcepower-pill item" data-item-id="{{item._id}}">
                    {{item.name}} <i class="fas fa-times item-delete"></i>
                  </div>
                  {{else}}
                  <div class="drag-note">{{localize "SWFFG.DragNotes"}}</div>
                  {{/each_when}}
                  {{/if}}
                </td>
              </tr>
              <tr style="{{#if limited}}display:none;{{/if}}">
                <td>
                  {{localize "SWFFG.Specializations"}}:
                </td>
                <td>
                  {{#each_when actor.items "type" "specialization"}}
                  <div class="specialization-pill item" data-item-id="{{item._id}}">
                    {{item.name}} <i class="fas fa-times item-delete"></i>
                  </div>
                  {{else}}
                  <div class="drag-note">{{localize "SWFFG.DragNotes"}}</div>
                  {{/each_when}}
                </td>
                <td></td>
                <td></td>
              </tr>
              {{#if (contains classType "V2")}}{{else}}
              <tr style="{{#if limited}}display:none;{{/if}}">
                <td>
                  <div>
                    <a class="alt-tab" data-tab="general"><i class="far fa-id-card"></i></a>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {{!-- Primary Stats Container --}}

      <div class="container" style="flex-wrap: nowrap;{{#if limited}}display:none;{{/if}}">
        <div class="container flex-group-center">
          {{!-- Wounds Box --}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Wounds" fields=(array (object name="data.stats.wounds.max" value=data.stats.wounds.max type="Number" label="SWFFG.Threshold") (object name="data.stats.wounds.value" value=data.stats.wounds.value type="Number" label="SWFFG.Current") ))}}
          {{#if (or (eq actor.flags.starwarsffg.config.enableStrainThreshold undefined) (eq actor.flags.starwarsffg.config.enableStrainThreshold true) )}}
          {{!-- Strain Box --}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Strain" fields=(array (object name="data.stats.strain.max" value=data.stats.strain.max type="Number" label="SWFFG.Threshold") (object name="data.stats.strain.value" value=data.stats.strain.value type="Number" label="SWFFG.Current") ))}}
          {{/if}}
          {{!-- Soak Box --}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.Soak" type="Number" name="data.stats.soak.value" value=data.stats.soak.value disabled=this.settings.enableSoakCalculation)}}
          {{!-- Defence Box --}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.Defense" fields=(array (object name="data.stats.defence.melee" value=data.stats.defence.melee type="Number" label="SWFFG.DefenseMelee") (object name="data.stats.defence.ranged" value=data.stats.defence.ranged type="Number" label="SWFFG.DefenseRanged") ))}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}} {{> "systems/genesysk2/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited items=(array (object tab="characteristics" label="SWFFG.TabCharacteristics" icon="fas fa-user-circle" cls=classType) (object tab="items" label="SWFFG.TabGear" icon="fas fa-toolbox" cls=classType) (object tab="talents" label="SWFFG.TabTalents" icon="fab fa-superpowers" cls=classType) (object tab="description" label="SWFFG.TabBiography" icon="fas fa-sticky-note" cls=classType) )}} {{!-- Sheet Body --}}
  <section class="sheet-body" style="{{#if limited}}display:none;{{/if}}">
    {{!-- Characteristics Tab --}}
    <div class="tab characteristics active" data-group="primary" data-tab="characteristics">
      {{!-- Characteristics Scores --}}

      <div class="grid grid-6col">
        {{#each data.characteristics as |characteristic id|}}
        <div class="characteristic-item flex-group-center" data-ability="{{id}}">
          <div class="characteristic">
            <div class="characteristic-value">
              <input type="text" name="data.characteristics.{{id}}.value" value="{{characteristic.value}}" data-dtype="Number" maxlength="1" type="text" pattern="[1-7]" />
            </div>
          </div>
          <div class="characteristic-label">
            {{characteristic.label}}
          </div>
        </div>
        {{/each}}
      </div>

      {{> "systems/genesysk2/templates/parts/actor/ffg-skills.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <div class="container flex-group-center item-values">
        {{!-- Medical Box --}} {{> "systems/genesysk2/templates/parts/actor/ffg-healingitem.html" (object title=actor.flags.config.medicalItemName name="data.stats.medical.uses" value=data.stats.medical.uses)}}
        {{!-- Credits Box --}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="double" title="SWFFG.DescriptionCredits" type="Number" name="data.stats.credits.value" value=data.stats.credits.value disabled=this.settings.enableSoakCalculation)}}
      </div>

      {{> "systems/genesysk2/templates/parts/actor/ffg-weapon-armor-gear.html"}}
    </div>

    {{!-- Talents Tab --}}

    <div class="tab talents items" data-group="primary" data-tab="talents">
      {{!-- Talents List --}}
      <div class="container flex-group-center item-values">
        {{!-- Force Box --}} {{#if (or (eq actor.flags.starwarsffg.config.enableForcePool undefined) (eq actor.flags.starwarsffg.config.enableForcePool true) )}} {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="split" title="SWFFG.ForcePool" fields=(array (object name="data.stats.forcePool.value" value=data.stats.forcePool.value type="Number" label="SWFFG.ForcePoolCommitted") (object name="data.stats.forcePool.max" value=data.stats.forcePool.max type="Number" label="SWFFG.ForcePoolAvailable") ))}} {{/if}}
      </div>

      {{> "systems/genesysk2/templates/parts/actor/ffg-talents.html"}}
      {{!-- Abilities List --}} {{> "systems/genesysk2/templates/parts/actor/ffg-abilities.html"}}
      {{!-- Force Powers List --}} {{> "systems/genesysk2/templates/parts/actor/ffg-forcepowers.html"}}
      {{!-- Signature Abilities List --}} {{> "systems/genesysk2/templates/parts/actor/ffg-signatureability.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography active" data-group="primary" data-tab="description">
      <div class="biography-editor">
        {{editor data.biography target="system.biography" button=true owner=owner editable=editable}} {{!-- Footer info --}}
      </div>
      <div class="container flex-group-center biography-values">
        {{> "systems/genesysk2/templates/parts/actor/ffg-criticalinjury.html" type="criticalinjury"}}
      </div>
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/genesysk2/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>
