.block-background {
  background-color: #ddd;
  padding: 5px;
  margin: 0 5px;
  
  --notchSize: 9px;

  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.block-background-shadow {
  position: absolute;
  width: 100%;
  top: 30px;
  height: 30px;
  background-color: $swffg-input-background;
  padding: 5px;
  z-index: -1;

  --notchSize: 9px;

  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}