&.sheet {
  &.item {
    .popout-editor {
      height: 50px;
      width: 215px;
    }

    .tabs {
      height : 20px;
      border: 0;
      
      .item {
        line-height: 15px;
      }
    }
  }

  .window-content {
    overflow-y: hidden;
  }

  .sheet-body {
    margin: 10px 5px;
    overflow: auto;
  }
}