.charname {
  width: 100%;
  
  input {
    color: rgb(0, 0, 0);
    border: 0;

    &:focus {
      box-shadow: 0 0 5px $swffg-input-background;
      background-color: $swffg-input-background;
    }
  }
}

.characteristic-item {
  border:0;
  position: relative;
  padding:0;
  margin: 0 5px;

  .characteristic-label {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:white;
    text-transform: uppercase;
    font-size : 10px;
    --notchSize: 7px;
    
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
      );
  }

  .characteristic {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 5px double rgb(0, 0, 0);
    margin: auto;
    position: relative;

    .characteristic-value {
      input {
        height: 40px;
        border: 0;
        font-size: 30px;
        text-align: center;

        &:focus {
          box-shadow: 0 0 5px $swffg-input-background;
          background-color: $swffg-input-background;
          border-radius: 5px;
        }
      }
    }

    
  }
}

.item-name {
  margin:0;
  padding-bottom:0;
}

.grid {
  margin-top: 0;
}

.block-background {
  background-color: rgb(233, 198, 253);
}

.attribute {
  position: relative;
  padding: 0;
  z-index: 1;
  border:0;
  
  .block-background-shadow {
    top: 36px;
  }

  .block-background {
    padding: 5px 5px;
  }

  .block-title {
    line-height: initial;
    background-color: rgb(85, 49, 19);
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    margin:auto;
    
    --notchSize: 8px;
    clip-path: 
      polygon(
        0% var(--notchSize), 
        var(--notchSize) 0%, 
        calc(100% - var(--notchSize)) 0%, 
        100% var(--notchSize), 
        100% calc(100% - var(--notchSize)), 
        calc(100% - var(--notchSize)) 100%, 
        var(--notchSize) 100%, 
        0% calc(100% - var(--notchSize))
    );
  }

  .block-attribute {

    select {
      &:focus {
        box-shadow: 0 0 5px $swffg-input-background;
        background-color: $swffg-input-background;
      }
    }

    .block-value {
      display: inline-block;
    }
  }

  .block-value {

    textarea {
      resize:none;
      font-family: 'Roboto';
      border : 0;

      &:focus {
        box-shadow: 0 0 5px $swffg-input-background;
        background-color: $swffg-input-background;
        outline: none;
      }
    }

    &.block-single {
      input {
        width: 100%;
        padding: 6px;
      }
    }

    input {
      border:0;
      font-size:14px;

      &:focus {
        box-shadow: 0 0 5px $swffg-input-background;
        background-color: $swffg-input-background;
      }
    }
  }

  .shadow-text {
    position: absolute;
    top: 5px;
    font-size: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .shadow-left {
    background-color: $swffg-shadow-left;
    width: 50%;
    height: 100%;
    float:left;
    position: relative;
    padding-top: 25px;

    .shadow-text {
      color: white;
      text-transform: uppercase;
    }
  }

  .shadow-right {
    background-color: $swffg-input-background;
    width: 50%;
    height: 100%;
    float:right;
    position: relative;
    padding-top: 25px;

    .shadow-text {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.resource {
  line-height: 30px;
  width: 110px;
  
  &.split {
    width: 130px;
  }
  &.single {
    width: 100px;
  }
  &.double {
    width: 235px;
  }

  input {
    width: 45px;
  }
}

.tabs {
  flex: 0 0 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 3px;
    .item {
      line-height: 40px;
      font-weight: bold;
      &.active {
        text-decoration: underline;
        text-shadow: none;
      }
    }
 
}

form {
  overflow: hidden;
}
