&.sheet {
  &.actor {
    $swffg-characteristic-color: rgb(73, 12, 11);
    .tabs {
      height: 15px;
      margin-bottom: 10px;
      border: 0;
      padding: 0;
      .item {
        line-height: 15px;
      }
    }

    .characteristic-item {
      .characteristic-label {
        background-color: $swffg-characteristic-color;
      }
  
      .characteristic {
        border-radius: 50%;
        border: 5px double black;

        .characteristic-value {
          border-radius: 50%;
          
          input:focus {
            border-radius: 50%;
          }
        }
      }
    }

    &.v2 {
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: $swffg-characteristic-color;
          }
        }
      }
    }
  }
}