.biography {

  .resource {
    line-height: 30px;
    width: 110px;

    &.split {
      width: 130px;
    }
    &.single {
      width: 16%;
	  input {
	    width: 90%;
	  }
    }
    &.double {
      width: 130px;
    }

    input {
      width: 50px;
    }
  }

  .biography-values {
    margin-bottom: 5px;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
  }

  .biography-editor {
    height: 85%;
  }
}
