.biography {
  .biography-values {
    margin-bottom: 5px;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0;
  }

  .biography-editor {
    height: 85%;
  }

  .bio-grid {
    grid-column: span 5 / span 5;
    grid-template-columns: auto auto auto auto auto;
  }
}
