&.sheet {
  &.actor {

    .character {
      .header-fields {
        flex: 1;
        height: auto;
      
        .block-background-shadow {
          top: 36px;
        }

        h1 {
          margin: 0;
          width: 100%;
        }
      
        .header-name {
          margin: 0;
          position: relative;
          width: 100%;
      
          input {
            margin: 0;
            width: 100%;
            border: 0;
            background-color: rgba(0, 0, 0, 0);
      
            &:focus {
              box-shadow: 0 0 5px $swffg-input-background;
              background-color: $swffg-input-background;
            }
          }
        }
      
        .header-description-block {
          margin-bottom: 5px;
          margin-top: 5px;
        }
      
        .header-description {
          background-color: rgb(196, 219, 233);
          --notchSize: 10px;
          padding: 3px;
      
          clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
        }
      
        .table {
          display: table;
          width: 100%;
        }
      
        .row {
          display: table-row;
          width: 100%;
      
          div {
            display: table-cell;
          }
      
          .row-input {
            width:100%;
            padding: 1px 5px;
      
            .specialization-pill, .species-pill, .career-pill {
              padding: 3px 9px;
              background-color: #aaa;
              border: 1px solid black;
              border-radius: 20px;
      
              .item-delete {
                cursor: pointer;
              }
            }
          
          }
      
          input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid black;
            border-radius: 0;
      
            &:focus {
              box-shadow: 0 0 5px $swffg-input-background;
              background-color: $swffg-input-background;
            }
          }
        }
      
        .profile-block {
          margin-right: 5px;
          margin-left: 5px;
          height: 130px;
          max-width: 130px;
        }
      
        .profile-img {
          flex: 0 0 100px;
          height: 124px;
          width: auto;
          max-width: 124px;
          border: 0;
          margin: auto;
          object-fit: contain;
        }
      }
      
      .sheet-body {
        height: calc(100% - 13.75rem);
        overflow:hidden;

        .biography {
          height: calc(100% - 4.6875rem);
          overflow:auto;
        }

        .characteristics {
          overflow: hidden;
          height: calc(100% + 26.25rem);
        }

        .skillsTablesGrid {
          height: calc(100% - 32.1875rem);
          overflow:auto;
        }
      
        table {
          &.force-powers {
            border: 0;

            th {
              text-align: left;
              padding: 3px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.25);
              background-color: rgb(73, 12, 11);
              color: white;
              font-size: 12px;
              font-weight: normal;
            }

            td {
              height: 30px;
              line-height: 24px;
              padding: 3px;
              position: relative;

              .item-controls {
                text-align: right;
                width: auto;
                z-index: auto;
              }
            }
          }
        }
      }
    }
  }
}