.sheet-body {

  div.tab.characteristics {
    overflow: hidden;
  }

  .characteristics {
    fieldset.skillfilter {
      display: none;
    }

    .characteristic-item {
      border:0;
      position: relative;

      .characteristic-label {
        margin-top: 5px;
        width: 100%;
        text-align: center;
        background-color: rgb(73, 12, 11);
        color:white;
        text-transform: uppercase;
        font-size : 10px;
        --notchSize: 7px;
        
        clip-path: 
          polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            100% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            0% calc(100% - var(--notchSize))
          );
      }
    }

    .grid {
      margin-top: 0;
    }
  }

  .characteristic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px double black;
    margin: auto;
    position: relative;

    .characteristic-value {
      input {
        height: 40px;
        border: 0;
        font-size: 30px;
        text-align: center;
      }
      input:focus { 
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
        border-radius: 50%;
      }
    }

    
  }
}