&.data-import {
  .import-file-selector {
    div {
      display: inline-block;
    }
  }

  .import-invalid {
    display: none;
  }

  .import-hidden {
    visibility: hidden;
  }

  .import-progress {
    background-color: #f1f1f1;
    margin: 5px 5px;
    width: 100%;

    &.current {
      width: inherit;
    }

    &.overall {
      width: inherit;
    }
    
    .import-progress-bar {
      height: 24px;
      background-color: green;
      text-align: center;

      span {
        line-height: 24px;
      }
    }
  }

  .skilllist {
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
    th, td {
      padding: 0.3125rem;
      text-align: center;
      width: 7.8125rem;
    }

    tbody {
      display:block;
      overflow:auto;
      height: 4.5rem;
      width: 100%;
    }
    thead tr {
      display:block;
    }

    .skilltheme {
      text-align: left;
    }

    .fa-download {
      cursor: pointer;
    }

    .skillactive {
      text-align: center;
      .fa-check-circle {
        color: green;
      }
      .fa-times-circle {
        color: red;
      }
    }
  }
}

.debug label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.debug input[type="checkbox"] {

  position: relative;
  padding: 0;
  margin: 0;
  width: 13px;
  height: 13px;
}
