&.data-import {
  .import-file-selector {
    div {
      display: inline-block;
    }
  }

  .import-invalid {
    display: none;
  }

  .import-hidden {
    visibility: hidden;
  }

  .import-progress {
    background-color: #f1f1f1;
    margin: 5px 5px;
    
    .import-progress-bar {
      height: 24px;
      background-color: green;
      text-align: center;

      span {
        line-height: 24px;
      }
    }
  }
}

.debug label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.debug input[type="checkbox"] {

  position: relative;
  padding: 0;
  margin: 0;
  width: 13px;
  height: 13px;
}
