#destiny-tracker {
  box-shadow: none;
  background: transparent;

  position: absolute;
  right:305px;
  bottom:0;
  
  .window-content {
    background: transparent;
  }
  header.window-header {
    display: none;
  }
  
}

.swffg-destiny-container {
  right: 305px;
  bottom: 0px;
  position: absolute;
}

.swffg-destiny-bar {
  height: 5px;
  width: 100%;
  background: url(../../../ui/denim075.png) repeat;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 1px;
  margin: -3px 0;
  
}

.swffg-destiny {
  background: url(../../../ui/denim075.png) repeat;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  font-family: "warnock-pro", "sans-serif";
  font-size: 30px;
  height: auto;
  
  line-height: 1.2;
  margin: 8px 8px 6px 0;
  pointer-events: none;
  
  text-align: center;
  min-width: 84px;
  width: 100%;
  display: flex;
  z-index: 70;
  .destiny-points {
    flex: 1;
    position: relative;
    padding: 6px 0 12px 0;
    pointer-events: auto;
    span {
      bottom: 2px;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 12px;
      left: 50%;
      line-height: 1;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 80px;
    }
  }
  #context-menu {
    font-size: 0.875rem;
  }
}

.ffg-destiny-roll {
  cursor: pointer;
}
