#destiny-tracker {
  box-shadow: none;
  background: transparent;
  position: absolute;
  
  .window-content {
    background: transparent;
   
  }
  header.window-header {
    display: none;
  }
  
  /* Dropdown Button */
  .dropbtn {
    background-color: transparent;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;

    i {
      margin: 0;
    }
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: contents;
    position: absolute;
    background: url(../../../ui/denim075.png) repeat;
    max-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &.vertical {
      margin-top : calc(-13vh + 40px);
    }
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 5px 4px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  /* Change color of dropdown links on hover */
  // .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu on hover */
  // .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
    background-color: #3e8e41;
  }
}

.swffg-destiny-container {
  margin-left: auto;
  margin-right: auto;
}

.swffg-destiny-bar {
  height: 5px;
  width: 100%;
  background: url(../../../ui/denim075.png) repeat;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 1px;
  margin: -3px 0;
  
}

.swffg-destiny {
  background: url(../../../ui/denim075.png) repeat;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  font-family: "warnock-pro", "sans-serif";
  font-size: 30px;
  height: auto;
  
  line-height: 1.2;
  margin: 8px 8px 6px 0;
  pointer-events: none;
  
  text-align: center;
  min-width: 84px;
  width: 100%;
  display: flex;
  z-index: 70;

  &.swffg-groupmanager {
    min-width: 125px;
    flex: 1;
    position: relative;
    padding: 0 0 5px 0;
    pointer-events: auto;
    height: 55px;
  }

  .group-manager {
    padding: 5px 0px 0px 5px;
    position: fixed;
  }

  .destiny-points {
    flex: 1;
    position: relative;
    padding: 6px 0 12px 0;
    pointer-events: auto;
    cursor: pointer;
    span {
      bottom: 2px;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 12px;
      left: 50%;
      line-height: 1;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 80px;
    }

    &.display-menu {
      margin-left: 35px;
    }
  }

  #context-menu {
    font-size: 0.875rem;
  }
}

.ffg-destiny-roll {
  cursor: pointer;
}

.destiny-flip {
  text-align: center;
  .destiny-title {
    font-size: 23px;

    span {
      font-weight: bold;
    }
  }
  border-radius: 15px;
  box-shadow: 0 0 20px #000;

  &.dPoolDark {
    background-color: rgb(240, 230, 140);
  }
  &.dPoolLight {
    background-color: rgb(184, 56, 59);
    color: white;
  }
}