.dice-pool-dialog {
  .dice-pool {
    min-height: 51px;
  }
  .pool-value {
    border: 1px solid black;
    background-color: #ddd;
    & input {
      border: 0;
      font-size: 30px;
      text-align: center;
      background: none;
    }
  }
  .upgrade-buttons {
    display: flex;
    margin: 10px;
  }
}

.ffgDiceArray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .dice-rolls {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .roll {
      width: 40px;
      float: left;
    }
  }
}

.dice-result {
  .roll-success {
    color: darkgreen;
  }
  .roll-failure {
    color: darkred;
  }
}

.item-display {
  margin: 0.5rem 0 0.8rem 0;
  padding: 0.5rem;
  border: 1px solid #782e22;
  background: rgba(255, 255, 255, 0.75);
  img {
    height: 50px;
    width: auto;
  }

  & h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    & input {
      width: 70%;
    }
  }
  
  .item-miss {
    text-align: center;
    font-style: italic;
    color: darkred;
  }
}
