.dice-pool-dialog {
  .dice-pool img {
    border: 0;
  }
  .dice-pool {
    min-height: 51px;
    margin: auto;
  }
  .pool-container img {
    border: 0;
  }
  .pool-value {
    height: 42px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    background-color: #ddd;
  }
  .pool-value input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 30px;
    text-align: center;
    background: none;
  }
  .upgrade-buttons {
    display: flex;
    margin: 10px;
  }
}

.ffgDiceArray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .dice-rolls {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .roll {
      position: relative;
      width: 40px;
      line-height: 40px;
      float: left;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      img {
        border: none;
      }
    }
  }
}

.dice-result {
  .roll-success {
    color: darkgreen;
  }
  .roll-failure {
    color: darkred;
  }
}

.item-display {
  margin: 0.5rem 0 0.8rem 0;
  padding: 0.5rem;
  border: 1px solid #782e22;
  background: rgba(255, 255, 255, 0.75);
  img {
    height: 50px;
    width: auto;
    border: none;
  }
  .item-damage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    input {
      width: 70%;
    }
  }
  .item-critical {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    input {
      width: 70%;
    }
  }
  .item-miss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-style: italic;
    color: darkred;
  }
}
