span.dietype {
  font-family: $font-dice;

  &.ability {
    color: green;

    // &::after {
    //   content: "d";
    // }
  }

  &.advantage {
    color: black;

    // &::after {
    //   content: "a";
    // }
  }

  &.boost {
    color: lightskyblue;

    // &::after {
    //   content: "b";
    // }
  }
  &.challenge {
    color: red;

    // &::after {
    //   content: "c";
    // }
  }
  &.dark {
    color: black;

    // &::after {
    //   content: "z";
    // }
  }
  &.despair {
    color: black;

    // &::after {
    //   content: "y";
    // }
  }
  &.difficulty {
    color: purple;

    // &::after {
    //   content: "d";
    // }
  }
  &.forcepoint {
    color: black;

    // &::after {
    //   content: "Y";
    // }
  }
  &.failure {
    color: black;

    // &::after {
    //   content: "f";
    // }
  }
  &.force {
    color: black;

    // &::after {
    //   content: "C";
    // }
  }
  &.light {
    color: black;

    // &::after {
    //   content: "Z";
    // }
  }
  &.proficiency {
    color: yellow;

    // &::after {
    //   content: "c";
    // }
  }
  &.setback {
    color: black;

    // &::after {
    //   content: "b";
    // }
  }
  &.success {
    color: black;

    // &::after {
    //   content: "s";
    // }
  }
  &.threat {
    color: black;

    // &::after {
    //   content: "t";
    // }
  }
  &.triumph {
    color: black;

    // &::after {
    //   content: "x";
    // }
  }
}

.popout-editor {
  text-align: left;
  font-size: 12px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.popout-editor-window {
  .sheet-body {
    height: 100%;
  }

  .editor {
    width: 100%;
    height: 100%;
  }
}

.editor {
  width: 100%;
  height: 100%;
}

.tox.tox-tinymce {
  height: 100% !important;
}
