.item-sheet-forcepower {
  min-width: 700px;
  min-height: 600px;

  .talent-background {
    .talent-header {
      background-color: rgb(14, 68, 0);

      div {
        input[type="text"] {
          background-color: #1a8200;
        }
      }
    }
  }

  .header-fields {
    .talent-body {
      margin-top: 5px;
      padding: 0 5px;
    }
  }

  .header-fields {
    position: relative;

    .talent-actions {
      position: absolute;
      right: 10px;
      top: 14px;
      color: white;
    }

    textarea {
      max-width: 695px;
    }
  }

  .sheet-body {
    height: calc(100% - 10em);
  }
}
