&.sheet {
  &.item {
    .item-sheet-forcepower {
      .popout-editor {
        height: 100%;
        width: 100%;
        min-height: 2rem;
        position: relative;
      }
    }
  }
}


.item-sheet-forcepower {
  $swffg-force-background: rgb(14, 68, 0);
  $swffg-force-input-background: #1a8200;

  min-width: 700px;
  min-height: 600px;

  .required_fr {
    input[type=text] {
      width: 10px;
    }
  }

  .talent-background {
    .talent-header {
      background-color: $swffg-force-background;

      div {
        input[type="text"] {
          background-color:$swffg-force-input-background;
        }
      }
    }
  }

  .header-fields {
    .talent-body {
      margin-top: 5px;
      padding: 0 5px;
    }
  }

  .header-fields {
    position: relative;

    .talent-actions {
      position: absolute;
      right: 10px;
      top: 14px;
      color: white;
    }

    textarea {
      max-width: 695px;
    }
  }

  .sheet-body {
    margin: 0;
    height: calc(100% - 10rem);
  }

  .talent-cost {
    bottom: -5px;
    left: 7px;
    position: absolute;
    z-index: 10;
    width: 60px;

    input {
      width: 25px;
      border: 0;
      background: rgba(0,0,0,0);
    }
  }
  .talent-modifiers {
    position: absolute;
    right:5px;
    bottom:2px;
    z-index: 10;
  }
}

.talent-list {
  .item {
    &.forcepower {
      #context-menu {
        max-width: none;
      }
    }
  }
}

.force-conflict {
  display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3px;
}