form {
height: 100%;
}

.item-form {
  font-family: $font-primary;
}

.block-background {
  background-color:  rgb(222, 222, 222);
  padding: 5px;

  --notchSize: 9px;

  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.attribute {
    position: relative;
    padding: 0;
    z-index: 1;
    border:0;

    .block-title {
      line-height: initial;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      margin:auto;
      background-color: rgb(73, 12, 11);
      line-height: 1rem;
      --notchSize: 8px;
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );
    }

    .block-attribute {

      select {
        &:focus {
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
        }
      }

      .block-value {
        display: inline-block;
      }
    }

  .block-value {

      textarea {
        resize:none;
        font-family: 'Roboto';
        border : 0;

      &:focus {
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
          outline: none;
        }
      }
        &.block-single {
        input {
          width: 100%;
          padding: 6px;
        }
      }

      input {
        border:0;
        font-size:14px;

        &:focus {
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
        }
      }
    }
  }

.block-background-shadow {
  position: absolute;
  width: 100%;
  top: 55%;
  height: 40px;
  background-color: rgb(125, 169, 194);
  padding: 0.9rem 0 0;
  z-index: -1;
  --notchSize: 9px;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.shadow-text {
  position: absolute;
  bottom: 2%;
  font-size: 9px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1rem;
}

.shadow-left {
  background-color: rgb(73, 12, 11);
  width: 50%;
  height: 100%;
  float:left;
  position: relative;
  padding-top: 25px;

  .shadow-text {
    color: white;
    text-transform: uppercase;
  }
}

.shadow-right {
  background-color: rgb(125, 169, 194);
  width: 50%;
  height: 100%;
  float:right;
  position: relative;
  padding-top: 25px;

  .shadow-text {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.character {
  min-width: 575px;
}

.position-relative {
  position: relative;
}
