.item-sheet-forcepower {

  .talent-background {
    background-color: #ddd;
    padding: 5px;
  
    --notchSize: 9px;
  
    clip-path: polygon(0% 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

}