.group-manager {
  font-family: Roboto, sans-serif;
  color: rgb(34, 34, 34);
  height: 100%;
  width: auto;
  text-align: center;
  .PC-list {
    margin: 20px 0;
  }
  .initiative-mode {
    width: 100%;
  }
  .player-character {
    &:hover {
      background: rgba(25, 24, 19, 0.03);
      margin: +2px;
    }
  }
}
