.header-fields {

  .container.flex-group-center {
    border: 0;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;
    width: 100%;
  }
  
  h2 {
    border-image: linear-gradient(to right, rgba(73, 12, 11, 1), rgba(0, 0, 0, 0)) 1%;
  }

  .header-name {
    margin: 0;
    position: relative;
    width: 100%;

    input {
      margin: 0;
      width: 100%;
      border: 0;
      background-color: rgba(0, 0, 0, 0);

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }

  .header-description-block {
    margin: 0.5rem 0.5rem 0 0;
  }

  .header-description {
    background-color: rgba(195, 220, 230,1);
    --notchSize: 10px;
    padding: 3px;

    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .table {
    display: table;
    width: 100%;
  }

  .row {
    display: table-row;
    width: 100%;

    div {
      display: table-cell;
    }

    .row-input {
      padding: 0 5px;
    }

    input {
      width: 100%;
      border: 0;
	  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 1%;
      border-radius: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }

  .profile-block {
    margin: 0 0.5rem;
    height: 130px;
    max-width: 130px;
  }

  .profile-img {
    flex: 0 0 100px;
    height: 130px;
    width: auto;
    max-width: 130px;
    border: 0;
    margin: auto;
	--notchSize: 9px;
	clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  }

  .resource {
    line-height: 30px;
    width: 24.5%;
	margin: 1rem 0.25rem 0.5rem;

    &.split {
      width: 24.5%;
    }
    &.single {
      width: 20%;
    }

    input {
      width: 45px;
    }
  }
}

.item-sheet-talent, .item-sheet-gear, .item-sheet-weapon, .item-sheet-armor, .item-sheet-vehicle-weapon, .item-sheet-vehicle-attachment {
  .header-fields {
    h1 {
	  font-size: 1rem;
    }
    .profile-img {
	  position: absolute;
	  left: 0.5rem;
	  top: 2.5rem;
	  height: 3rem;
	  clip-path: none;
    }
	.item-name {
	  padding: 0;
	  text-align: left;
    }
  }
}