.initiative-dialog {
  .pool-selector {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .pool-additional {
    img {
      vertical-align: middle;
    }
    input {
      margin: 0 0.1875rem;
    }
  }
}