.injuries {
  width: 100%;
  div.item {
    cursor: pointer;
    border-bottom: 1px solid #bbb;

    &:nth-last-of-type(1) {
      border-bottom: none;
    }

    &:hover {
      background: rgba(25, 24, 19, 0.12);
    }
  }

  .severity {
    position: relative;
  }

  .severity-img {
    max-height: 15px;
    max-width: 15px;
    border: 0;
  }

  .resource {
    &.full {
      width: 95%;
    }
  }

  .item-controls {
    z-index: 500;
    text-align: end;
    margin: auto;
    .item-control {
      padding: 5px;
    }
  }
}
