.items {
  margin: 0;
  border: 0;

  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }
    td {
      padding: 3px;
    }
  }

    .block-title {
      background-color: rgb(73, 12, 11);
    }
  }
  
  .resource {
    line-height: 30px;
    width: 110px;

    &.split {
      width: 130px;
    }
    &.single {
      width: 30%;
    }
    &.double {
      width: 130px;
    }

    input {
      width: 45px;
    }
  }

  .item-values {
    border: 0;
  }

  .items-list {
    overflow-y: auto;
    .item {
      height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #bbb;
      &:hover {
        background: rgba(25, 24, 19, 0.12);
        margin: +2px;
      }
      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }
    .item-name {
      margin: 0;
    }
    .item-controls {
      z-index: 500;
      width: 20px;
      text-align: end;
    }
  }
}
