.item-sheet-itemattachment {
  .profile-img-field {
    width: 25%;
    
    img {

      &.profile-img {
        width: 100%;
        height: auto;
      }
    }
  }

  .sheet-body {
    height: calc(100% - 19rem);

    table {
      th:first-child {
        text-align: left;
        padding-left: 3px;
      }

      td {
        &:not(:first-child) {
          position: relative;
          text-align: center;
  
          .quantity {
            top: 3px;
          }
        }

        &.add-modifier {
          i {
            padding: 0 2px;
            cursor: pointer;
          }
        }
      }

    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-itemattachment {
        .sheet-body {
          height: calc(100% - 16.5rem);
        }
      }
    }
  }
}