.item-sheet-criticalinjury {
  .sheet-header {
    overflow: visible;
  }

  .sheet-body {
    height: calc(100% - 12rem);
  }

  .flex-group-center {
    border: 0;
  }

  .charname {
    width: 100%;

    input {
      color: rgb(131, 7, 7);
      border: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }

  .block-background {
    border-radius: 10px;
    background-color: rgb(218, 151, 151);
    padding: 5px;

    .block-title {
      line-height: initial;
      background-color: rgb(131, 7, 7);
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      margin: auto;

      --notchSize: 8px;
      clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    }
  }

  .severity-img {
    max-height: 15px;
    max-width: 15px;
    border: 0;
  }

  .severity-select {
    width: 185px;
  }

  select {
    &:focus {
      box-shadow: 0 0 5px rgb(125, 169, 194);
      background-color: rgb(125, 169, 194);
    }
  }

  .editor-wrapper {
    display: block;
  }

  .block-background.block-editor {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 10rem;
  }

  .resource {
    line-height: 40px;
    width: 110px;

    &.single {
      width: 250px;
    }

    &.split {
      line-height: 30px;
    }
  }

  .item-name {
    margin: 0 !important;
    padding: 0 5px !important;
  }

  .severity-block {
    position: relative;
  }

  .tabs {
    height : 20px;
    border: 0;

    .item {
      line-height: 15px;
    }
  }
}
