.item-sheet-weapon {
  $swffg-weapon-color: rgb(19, 65, 3);
  $swffg-weapon-color-light:rgb(191,254,191);

  .charname {
    input {
      color: $swffg-weapon-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-weapon-color;
    }

    .characteristic {
      border: 5px double $swffg-weapon-color;

      .adjustedvalues-left {
        position: absolute;
        top: 0;
        right: 2px;
        color: red;
        &.positive {
          color: green;
        }
      }
    }
  }

  .adjustedvalue {
    color: red;
    
  }

  .block-background {
    background-color: $swffg-weapon-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-weapon-color;
    }
  }

  .sheet-body {
    height: calc(100% - 27.5rem);
  }

  .pills {
    &.itemmodifier, &.itemattachment {
      width: auto;
      max-width: 50%;
      width: 50%;

      .item-pill-list {
        max-height: 75px;
        height: 75px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  } 

}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-weapon {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 26.6125rem);
        }
      }
    }
  }
}