&.sheet {
  &.item {
    .popout-editor {
      height: 50px;
      width: 215px;
    }
    .tab[data-tab].active {
      height:100%;
    }
    .tabs {
      height : 20px;
      border: 0;
      
      .item {
        line-height: 15px;
      }
    }
  }
 
  .window-content {
    overflow-y: hidden;
  }

  .sheet-body {
    margin: 10px 5px;
    overflow: auto;
  }
}

&.sheet {
  &.item {
    &.v2 {
      .sheet-body {
        margin : 0px 5px;
      }
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: rgb(73, 12, 11);
          }
        }
      }
    }
  }
}