.item-sheet-armor {
  $swffg-armor-color: rgb(85, 49, 19);
  $swffg-armor-color-light:rgb(233, 192, 158);

  .charname {
    input {
      color: $swffg-armor-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-armor-color;
    }

    .characteristic {
      border: 5px double $swffg-armor-color;

      .adjustedvalues-left {
        position: absolute;
        top: 0;
        right: 2px;
        color: red;
        &.positive {
          color: green;
        }
      }
    }
  }

  .adjustedvalue {
    color: red;
    
  }

  .block-background {
    background-color: $swffg-armor-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-armor-color;
    }
  }

  .sheet-body {
    height: calc(100% - 21.3125rem);
  }

  .pills {
    &.itemmodifier, &.itemattachment {
      width: auto;
      max-width: 50%;
      width: 50%;

      .item-pill-list {
        max-height: 75px;
        height: 75px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-armor {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}