&.sheet {
  &.item {
    .popout-editor {
      height: 50px;
      width: 215px;
    }
    .tab[data-tab].active {
      height:100%;
    }
    .tabs {
      height : 20px;
      border: 0;
      
      .item {
        line-height: 15px;
      }
    }
  }
 
  .window-content {
    overflow-y: hidden;
  }

  .sheet-body {
    margin: 10px 5px;
    overflow: auto;
  }



  .item-pill-list {
    padding: 0 0 0 0.5em;
    &:after {
      content:".";
      display:block;
      height:0;
      clear:both;
      visibility:hidden;
    }
  }

  .item-pill {
    list-style-type: none;
    padding: 0 5px;
    background-color: #aaa;
    border: 1px solid black;
    border-radius: 12px;
    float: left;
    margin: 1px;
    cursor: pointer;

    span {
      padding: 0 3px;
    }

    .item-delete {
      padding-left: 5px;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

&.sheet {
  &.item {
    &.v2 {
      .sheet-body {
        margin : 0px 5px;
      }
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: rgb(73, 12, 11);
          }
        }
      }
    }
  }
}