.item-sheet-armor {
  $swffg-armor-color: rgb(85, 49, 19);
  $swffg-armor-color-light:rgb(233, 192, 158);

  .charname {
    input {
      color: $swffg-armor-color
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-armor-color
    }

    .characteristic {
      border: 5px double $swffg-armor-color
    }
  }

  .block-background {
    background-color: $swffg-armor-color-light
  }

  .attribute {
    .block-title {
      background-color: $swffg-armor-color;
    }
  }

  .sheet-body {
    height: calc(100% - 21.3125rem);
  }
}