.items {
  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }
    td {
      padding:3px;
    }
  }

  .attribute {
    position: relative;
    padding: 0;
    z-index: 1;
    border:0;
    
    .block-background-shadow {
      top: 36px;
    }

    .block-background {
      padding: 5px 5px;
    }

    .block-title {
      line-height: initial;
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      margin:auto;
      // width: 160px;
      --notchSize: 8px;
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
      );
    }

    .block-attribute {

      .block-value {
        display: inline-block;
      }
    }

    .block-value {

      &.block-single {
        input {
          width: 100%;
          padding: 6px;
        }
      }

      input {
        border:0;
        font-size:14px;

        &:focus {
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
        }
      }
    }

    .shadow-text {
      position: absolute;
      top: 5px;
      font-size: 9px;
      left: 50%;
      transform: translateX(-50%);
    }

    .shadow-left {
      background-color: rgb(73, 12, 11);
      width: 50%;
      height: 100%;
      float:left;
      position: relative;
      padding-top: 25px;

      .shadow-text {
        color: white;
        text-transform: uppercase;
      }
    }

    .shadow-right {
      background-color: rgb(125, 169, 194);
      width: 50%;
      height: 100%;
      float:right;
      position: relative;
      padding-top: 25px;

      .shadow-text {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 65px;
    }
    &.double {
      width: 130px;
    }

    input {
      width: 45px;
    }
  }

  .item-values {
    margin-bottom: 5px;
    border: 0;
  }
}
