.item-sheet-criticalinjury {
  $swffg-injury-color: rgb(131, 7, 7);
  $swffg-injury-color-light:rgb(218, 151, 151);

  .charname {
    input {
      color: $swffg-injury-color;
    }
  }

  .block-background {
    background-color: $swffg-injury-color-light;
    
    .block-title {
      background-color: $swffg-injury-color;
    }
  }

  .severity-img {
    max-height: 15px;
    max-width: 15px;
    border: 0;
  }

  .severity-select {
    width: 185px;
  }

  select {
    &:focus {
      box-shadow: 0 0 5px $swffg-input-background;
      background-color: $swffg-input-background;
    }
  }

  .editor-wrapper {
    display: block;
  }

  .block-background.block-editor {
    padding: 10px;
    background-color:$swffg-injury-color-light;
    height: 8rem;
  }

  .severity-block {
    position: relative;
  }

  .sheet-body {
    height: calc(100% - 19.375rem);
  }
  
}
