.item-sheet-gear {
  $swffg-gear-color: rgb(44, 3, 68);
  $swffg-gear-color-light: rgb(233, 198, 253);

  .charname {
    input {
      color: $swffg-gear-color
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-gear-color
    }

    .characteristic {
      border: 5px double $swffg-gear-color
    }
  }

  .block-background {
    background-color: $swffg-gear-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-gear-color;
    }
  }

  .sheet-body {
    height: calc(100% - 21.3125rem);
    overflow:auto;
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-gear {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}