.item-sheet-vehicle-attachment {
  $swffg-attachment-color: rgb(200, 123, 77);
  $swffg-attachment-color-light:rgb(223, 198, 141);

  .charname {
    input {
      color: $swffg-attachment-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-attachment-color;
    }

    .characteristic {
      border: 5px double $swffg-attachment-color;
    }
  }

  .block-background {
    background-color: $swffg-attachment-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-attachment-color;
    }
  }

  .sheet-body {
    height: calc(100% - 21.3125rem);
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-vehicle-attachment {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}