.item-sheet-vehicle-weapon {
  $swffg-weapon-color: rgb(31, 28, 55);
  $swffg-weapon-color-light:rgb(204,202,227);

  .charname {
    input {
      color: $swffg-weapon-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-weapon-color;
    }

    .characteristic {
      border: 5px double $swffg-weapon-color;
    }
  }

  .block-background {
    background-color: $swffg-weapon-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-weapon-color;
    }
  }
  
  .firing-arcs {
    gap: 0px;
    text-align: left;
    padding: 0 10px;
    line-height: 20px;

    label {
      display: inline-block;
      padding-left: 15px;
      text-indent: -15px;
      font-size: .675rem;
    }
    
    input[type="checkbox"] {
    
      position: relative;
      padding: 0;
      margin: 0;
      width: 13px;
      height: 13px;
    }
  }

  .sheet-body {
    height: calc(100% - 34.6875rem);
  }
}