.item-sheet-weapon {
  $swffg-weapon-color: rgb(19, 65, 3);
  $swffg-weapon-color-light:rgb(191,254,191);

  .charname {
    input {
      color: $swffg-weapon-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-weapon-color;
    }

    .characteristic {
      border: 5px double $swffg-weapon-color;
    }
  }

  .block-background {
    background-color: $swffg-weapon-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-weapon-color;
    }
  }

  .sheet-body {
    height: calc(100% - 31.875rem);
  }

}