&.sheet {
  &.item {
    .popout-editor {
      height: 50px;
      width: 215px;
    }
    .tab[data-tab].active {
      height:100%;
    }
    .tabs {
      height : 20px;
      border: 0;
      
      .item {
        line-height: 15px;
      }
    }

    .characteristic {
      .characteristic-value {
        &.restricted {
          &::after {
            content: 'R';
            position: absolute;
            font-size: 15px;
            left: 1px;
            top: -1px;
            color: red;
          }
        }
      }
    }
  }
 
  .window-content {
    overflow-y: hidden;
  }

  .sheet-body {
    margin: 10px 5px;
    overflow: auto;
  }

  .item-pill-list {
    padding: 0;
    &:after {
      content:".";
      display:block;
      height:0;
      clear:both;
      visibility:hidden;
    }
  }

  .item-pill {
    list-style-type: none;
    padding: 0 5px;
    background-color: #aaa;
    border: 1px solid black;
    border-radius: 12px;
    float: left;
    margin: 1px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;

    &.adjusted {
      color: red;
    }
    
    .rank {
      padding-right: 15px;
      &:hover {
        color: green;
      }
    }
  
    .item-delete {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }

  .add-new-item {
    cursor: pointer;
  }
}

&.sheet {
  &.item {
    &.v2 {
      .sheet-body {
        margin : 0px 5px;
      }
      .tabs {
        .item {
          line-height: normal;
          &.active {
            color: rgb(73, 12, 11);
          }
        }
      }
    }
  }
}