.items {
  margin: 0;
  padding: 0;
  border: 0;

  .items-header {
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: $swffg-tableheader-background;
    color: white;
    font-size: 12px;
    font-weight: normal;
    .header-name {
      flex: 1 0 100px;
      text-align: left;
    }
  }
  li {
    padding: 3px;
  }

  .item-values {
    margin-bottom: 10px;
    border: 0;
  }

  .items-list {
    padding: 0;
    .item {
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #bbb;
      text-align: center;
      &:hover {
        background: rgba(25, 24, 19, 0.12);
      }
      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
      .toggle-equipped {
        color: #888;
        &.active {
          color: #191813;
        }
      }
    }
    .force-power {
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #bbb;
      text-align: center;
      &:hover {
        background: rgba(25, 24, 19, 0.12);
      }
      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }
    .item-name {
      margin: 0;
      cursor: pointer;
      flex: 1 0 100px;
      text-align: left;
    }
    .item-controls {
      z-index: 500;
      width: 20px;
      text-align: end;
      margin: auto;
      .item-control {
        padding: 5px;
      }
    }
  }
}
.item-details {
  flex: 0 0 100%;
  text-align: left;
  line-height: 16px;
  padding: 0.25em 0.5em;
  background: rgba(0, 0, 0, 0.1);
  border: 1px groove rgba(0, 0, 0, 0.2);
  grid-area: inherit;
  .item-properties {
    flex: 0 0 120px;
    margin: 5px 5px 5px 0;
    padding-right: 5px;
    font-weight: bold;
    .tag {
      display: inline-block;
      margin: 0 2px 0 0;
      padding: 0 3px;
      font-size: 10px;
      line-height: 16px;
      border: 1px solid rgba(100, 100, 100, 1);
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
