.item-sheet-armor {

  .charname {
    width: 100%;
    
    input {
      color: rgb(85, 49, 19);
      border: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item {
    border:0;
    position: relative;
    padding:0;
    margin: 0 5px;

    .characteristic {
      position: relative;
      width: 55px;
      height: 55px;
      margin: auto;
      border-radius: 10px;
	  background: rgba(255,255,255,0.75);
      border: 2px solid rgba(0,0,0,0.5);
      .characteristic-value {
        height: 100%;
        input {
          height: 100%;
          border: 0;
          font-size: 2rem;
          text-align: center;
		  border-radius: 50%;
		  margin: 1px 0 0;
        }
        input:focus { 
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
          border-radius: 5px;
        }
      }
  
      
    }
  }

  .item-name {
    margin:0;
    padding-bottom:0 !important;
  }

  .grid {
    margin-top: 0;
  }

  .block-background {
    background-color: rgb(233, 192, 158);
  }

  .attribute {
    .block-title {
      background-color: rgb(85, 49, 19);
    }
  }
  
  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 100px;
    }
    &.double {
      width: 235px;
    }

    input {
      width: 45px;
    }
  }

  .tabs {
    height : 20px;
    border: 0;

    .item {
      line-height: 15px;
    }
  }
}