.item-sheet-vehicle-weapon {
  $swffg-weapon-color: rgb(31, 28, 55);
  $swffg-weapon-color-light:rgb(204,202,227);

  .charname {
    input {
      color: $swffg-weapon-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-weapon-color;
    }

    .characteristic {
      border: 5px double $swffg-weapon-color;

      .adjustedvalues-left {
        position: absolute;
        top: 0;
        right: 2px;
        color: red;
        &.positive {
          color: green;
        }
      }
    }
  }

  .adjustedvalue {
    color: red;
  }

  .block-background {
    background-color: $swffg-weapon-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-weapon-color;
    }
  }
  
  .firing-arcs {
    gap: 0px;
    text-align: left;
    padding: 0 10px;
    line-height: 20px;

    label {
      display: inline-block;
      padding-left: 15px;
      text-indent: -15px;
      font-size: .675rem;
    }
    
    input[type="checkbox"] {
    
      position: relative;
      padding: 0;
      margin: 0;
      width: 13px;
      height: 13px;
    }
  }

  .sheet-body {
    height: calc(100% - 34.6875rem);
  }

  .pills {
    &.itemmodifier, &.itemattachment {
      width: auto;
      max-width: 50%;
      width: 50%;

      .item-pill-list {
        max-height: 75px;
        height: 75px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  } 
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-vehicle-weapon {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 17.3125rem);
        }
      }
    }
  }
}