.item-sheet-vehicle-weapon {

  .header-fields {
    height: 435px;
  }

  .charname {
    width: 100%;
    
    input {
      color: rgb(31, 28, 55);
      border: 0;
      
      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }

  }

  .characteristic-item {
    border:0;
    position: relative;
    padding:0;
    margin: 0 5px;

    .characteristic-label {
      margin-top: 5px;
      width: 100%;
      text-align: center;
      background-color: rgb(31, 28, 55);
      color:white;
      text-transform: uppercase;
      font-size : 10px;
      --notchSize: 7px;
      
      clip-path: 
        polygon(
          0% var(--notchSize), 
          var(--notchSize) 0%, 
          calc(100% - var(--notchSize)) 0%, 
          100% var(--notchSize), 
          100% calc(100% - var(--notchSize)), 
          calc(100% - var(--notchSize)) 100%, 
          var(--notchSize) 100%, 
          0% calc(100% - var(--notchSize))
        );
    }

    .characteristic {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      border: 5px double rgb(31, 28, 55);
      margin: auto;
      position: relative;
  
      .characteristic-value {
        input {
          height: 40px;
          border: 0;
          font-size: 30px;
          text-align: center;
        }
        input:focus { 
          box-shadow: 0 0 5px rgb(125, 169, 194);
          background-color: rgb(125, 169, 194);
          border-radius: 5px;
        }
      }
  
      
    }
  }

  .item-name {
    margin:0;
    padding-bottom:0 !important;
  }

  .grid {
    margin-top: 0;
  }

  .block-background {
    background-color: rgb(204,202,227);
  }
  
  .attribute {
    .block-title {
      background-color: rgb(31, 28, 55);
    }
  }

  .resource {
    line-height: 30px;
    width: 110px;
    
    &.split {
      width: 130px;
    }
    &.single {
      width: 100px;
    }
    &.double {
      width: 235px;
    }

    input {
      width: 45px;
    }
  }

  .tabs {
    height : 20px;
    border: 0;

    .item {
      line-height: 15px;
    }
  }
}