.minion {
  flex: auto;

  .minion-name {
    flex: 1;
    flex-wrap: wrap;

    input {
      border: 0;

      &:focus {
        box-shadow: 0 0 5px $swffg-input-background;
        background-color: $swffg-input-background;
      }
    }
  }

  .minion-stats {
    width: 100%;
    margin: 0 0 1em;
  }

  table.items {
    margin: 1em 0;
  }
  .biography-editor {
    height: 100%;
  }

  .profile-block {
    margin-right: 5px;
    margin-left: 5px;
    height: 130px;
    max-width: 130px;
  }

  .profile-img {
    flex: 0 0 100px;
    height: 124px;
    width: auto;
    border: 0;
    margin: auto;
    object-fit: contain;
  }

  .resource {
    &.single {
      width: 8.125rem;
    }
  }

  .sheet-body {
    height: calc(100% - 14.6875rem);
    overflow:hidden;

    .biography {
      height: calc(100% - 4.6875rem);
      overflow:auto;
    }

    .characteristics {
      overflow: hidden;
      height: calc(100% + 26.25rem);
    }

    .skillsTablesGrid {
      height: calc(100% - 32.1875rem);
      overflow:auto;
    }
  }
}
