.minion {
  .minion-name {
    flex: 1;
    flex-wrap: wrap;

    input {
      border: 0;

      &:focus {
        box-shadow: 0 0 5px rgb(125, 169, 194);
        background-color: rgb(125, 169, 194);
      }
    }
  }

  .minion-stats {
    width: 100%;
    margin: 0 0 1em;
  }

  .resource {
    line-height: 30px;
    width: 110px;

    &.split {
      width: 120px;
    }
    &.single {
      width: 115px;
    }
    &.double {
      width: 235px;
    }
  }
  .grid, .items {
    margin-top: 0.5rem;
  }
}
