.window-content {
  flex: 1;
  display: block;
  overflow: hidden;
}

&.sheet {
  &.actor {
    min-width: 588px;
    min-height: 489px;
  }

  .sheet-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 16.5rem);
    overflow: auto;
    margin: 0 5px;
    border : 0;
    border-top: 1px solid rgba(135, 135, 135,1);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(73, 12, 11), rgba(0, 0, 0, 0)) 5%;

    .tab {
      height: 100%;
      overflow: auto;
    }
    .editor {
      width: 100%;
      height: calc(100% - 1.5rem);
    }
  }

  .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
  }

  .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
  }

  .tabs {
    .item {
      &.active {
        text-decoration: none;
        text-shadow: none;
      }
    }
  }
  div {
    &.container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      font-size: 11pt;
      .attributes {
        margin-top: 5px;
      }
    }
  }
  
  .character {
    height: 100%;
    .sheet-body {
      padding-top: 10px;
    }
    .resource {
      margin: 1rem 0.25rem 1.75rem;
    }
  }
  
  .resource {
    padding: 0;
    margin: 0.25rem;
    display: inline-table;

    input {
      width: 90%;
      height: 1.5rem;
    }
  }
  select {
    width: 100%;
  }
}
