&.sheet {
  &.actor {
    min-width: 588px;
    min-height: 525px;
  }

  .sheet-body {
    border: 0;
    min-height: 100px;
    height: calc(100% - 19em);
    overflow: auto;
    &.vehicle {
      height: calc(100% - 29rem);
      overflow: auto;
    }
    // &.small {
    //   height: calc(100% - 25rem);
    //   overflow: auto;
    // }
    .tab {
      height: 100%;
      overflow: auto;
    }
    .editor {
      width: 100%;
      height: 100%;
    }
  }

  .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
  }

  .window-content {
    padding: 5px;
    overflow-y: hidden;
  }

  .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 3px;
    .item {
      line-height: 40px;
      font-weight: bold;
      &.active {
        text-decoration: underline;
        text-shadow: none;
      }
    }
  }
  div {
    &.container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      font-size: 11pt;
      .attributes {
        margin-top: 5px;
      }
    }
  }
}
