.tableWithHeader {
  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }

    td {
      padding: 0 0 0 3px;

      .dice-pool {
        img {
          width: 1em;
          height: 1em;
          border: 0;
        }
      }
    }
  }
}

table {
  &.items {

    .items-list {
      td {
        &.item-controls {
          text-align: right;
          width: auto;
          z-index: auto;
        }
      }
    }
    
  }
}

