.skill-characteristic {
  display: inline;
}

.skill-characteristic-select-dialog {
  display: inline-block;
  margin: auto;

  li {
    list-style: none;
  }
}

.skill-create-dialog {
  display: inline-flex;
  margin: auto;
}

.tableWithHeader {
  overflow-y: auto;
  margin: 0;
  height: calc(100% - 5rem);
  display: flex;

  .tableWithHeader-container {
    flex: 1;
    margin: 2px;
    position: relative;
  }
}

.skillsTablesGrid {
  position: relative;
  overflow: auto;
  height: calc(100% - 5.5rem);
  float: left; width: 100%;
}

.skillsGrid {
  display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  align-content: flex-start;
  // max-height: 800px;
  width: 100%;
  padding: 0 5px;

  .skillTypeGrid {
    flex: 0 1 auto;
    flex-direction: column;

    &.skillColumnGrid {
      border: 1px solid #7a7971;
      background: rgba(0, 0, 0, 0.05);
      flex: 50%;
    }
  }

  .pure-g {
    letter-spacing: initial;
  }

  .skillTable {
    .skillsHeader {
      line-height: 1.313rem;

      div {
        text-align: center;
        padding: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: $swffg-tableheader-background;
        color: white;
        font-size: 12px;
        font-weight: normal;
        &:first-of-type {
          text-align: left;
        }
      }
    }
    div.skill {
      position: relative;
      & > div {
        text-align: center;

        &:first-of-type {
          text-align: left;
          padding-left: 3px;
          padding-top: 7px;
        }
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 2px 5px;
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      margin-top: 2px;
      width: 30px;
      text-align: center;
    }
  }

  .dice-pool {
    display: flex;             // Ensures dice are laid out horizontally
    flex-wrap: wrap;           // Allows wrapping to next line if space runs out
    gap: 0.25em;               // Adds spacing between dice
    align-items: center;       // Vertically center-aligns dice
    margin: 0.5em 0;

    img {
      width: 1em;              // Same as before
      height: 1em;             // Same as before
      border: 0;               // Same as before
    }
  }
}
.skillsGrid:last-child {
  padding-bottom: 2rem;
}
