.skill-characteristic {
  display: inline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.skill-characteristic-select-dialog {
  display: inline-block;
  margin: auto;

  li {
    list-style: none;
  }
}

.tableWithHeader {
  overflow-y: auto;
  margin: 0;
  height: calc(100% - 5rem);
  display: flex;

  .tableWithHeader-container {
    flex: 1;
    margin: 2px;
    position: relative;
  }

  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }

    td {
      padding: 0 0 0 3px;

      .dice-pool {
        img {
          width: 1em;
          height: 1em;
          border: 0;
        }
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      width: 30px;
      text-align: center;
    }
  }
}

table {
  &.items {
    .items-list {
      td {
        &.item-controls {
          text-align: right;
          width: auto;
          z-index: auto;
        }
      }
    }
  }
}
