.skill-characteristic {
  display: inline;
}

.skill-characteristic-select-dialog {
  display: inline-block;
  margin: auto;

  li {
    list-style: none;
  }
}

.skill-create-dialog {
  display: inline-flex;
  margin: auto;
}

.tableWithHeader {
  overflow-y: auto;
  margin: 0;
  height: calc(100% - 5rem);
  display: flex;

  .tableWithHeader-container {
    flex: 1;
    margin: 2px;
    position: relative;
  }

  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }

    td {
      padding: 0 0 0 3px;

      .dice-pool {
        img {
          width: 1em;
          height: 1em;
          border: 0;
        }
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      width: 30px;
      text-align: center;
    }
  }
}

.skillsGrid {
  overflow-y: auto;
  height: calc(100% - 5.5rem);

  .pure-g {
    letter-spacing: initial;
  }

  .skillTable {
    border: 1px solid #7a7971;
    background: rgba(0, 0, 0, 0.05);

    .skillsHeader {
      div {
        text-align: center;
        padding: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        background-color: rgb(73, 12, 11);
        color: white;
        font-size: 12px;
        font-weight: normal;
        &:first-of-type {
          text-align: left;
        }
      }
    }
    div.skill {
      & > div {
        text-align: center;

        &:first-of-type {
          text-align: left;
          padding-left: 3px;
          padding-top: 7px;
        }
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 2px 5px;
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      margin-top: 2px;
      width: 30px;
      text-align: center;
    }
  }

  .dice-pool {
    margin: 0.5em 0;
    img {
      width: 1em;
      height: 1em;
      border: 0;
    }
  }

  table {
    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }

    td {
      padding: 0 0 0 3px;

      .dice-pool {
        img {
          width: 1em;
          height: 1em;
          border: 0;
        }
      }
    }

    .careerskill-toggle {
      margin: 0;
      padding: 0;
    }

    .careerskill-rank {
      width: 30px;
      text-align: center;
    }
  }
}

table {
  &.items {
    .items-list {
      td {
        &.item-controls {
          text-align: right;
          width: auto;
          z-index: auto;
        }
      }
    }
  }
}
