.item-sheet-species {
  $swffg-species-color: rgb(73, 12, 11);
  
  .sheet-header {
    img {
      &.profile-img {
        flex: 0 0 100px;
        height: 124px;
        width: auto;
        max-width: 124px;
        border: 0;
        margin: auto;
        object-fit: contain;
      }
    }
  }

  .characteristics {
    width: 100%;
    .characteristic-item {
      .characteristic-label {
        background-color:$swffg-species-color;
      }
    }
  }

  .characteristic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px double black;
    margin: auto;
    position: relative;

    .characteristic-value {
      input {
        height: 40px;
        border: 0;
        font-size: 30px;
        text-align: center;
      }
      input:focus {
        border-radius: 50%;
      }
    }
  }
  
  .attribute {
    .block-title {
      background-color: $swffg-species-color;  
    }
  }

  .sheet-body {
    height: calc(100% - 25.25rem);
  }
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-species {
        .container.flex-group-center {
          padding: 0 5px 0 5px;
          margin-bottom: 0;
        }
         
        .weapon-values {
          margin: 0 5px;
          padding: 0 5px 0 5px;
        }

        .sheet-body {
          height: calc(100% - 21.1125rem);
        }
      }
    }
  }
}