&.sheet {
  &.item {
    .item-sheet-specialization {
      .popout-editor {
        height: 100%;
        width: 100%;
        min-height: 2rem;
        position: relative;
      }
    }
  }
}

.item-sheet-specialization {
  min-width: 700px;
  min-height: 600px;

  .talent-upgrade {
    margin: 5px 10px 10px 10px;
  }

  .sheet-body {
    margin: 0;
    height: calc(100% - 9rem);
    word-break: break-word;
  }

  input {
    &.conflict {
      opacity: .5;

      &:after {
        content: "";
        background-color:red;
      }
    }
  }
}

.burst-8 {
  z-index: -1;
  left:7px;
  background: white;
  width: 26px;
  height: 26px;
  position: absolute;
  text-align: center;
  transform: rotate(20deg);
}
.burst-8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background: white;
  transform: rotate(135deg);
}

div.conflict {
  height: 23px;
  width: 22px;
  position: absolute;
  background: red;
  left: 9px;
  top: 7px;
  z-index: -1;
}
