.item-sheet-gear, .item-sheet-talent, .item-sheet-weapon, .item-sheet-armor {
  .tabs {
    .item {
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% 100%, 0 100%, 0% 0%, 0% 100%);
    }
  }
}

.tabs {
  line-height: 1rem;

  .item {
    line-height: 1rem;
    height: 1.5rem;
    font-weight: bold;
    background-color: rgb(83, 93, 96);
    color: rgba(255,255,255,0.9);
    -transform: Capitalise;
    -shadow: black 1px 2px 0;
    padding: 3px;
    margin: 0 5px;
    --notchSize: 10px;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));

    &:hover {
      background-color: #51624d;
      color: rgba(255,255,255,1);
      text-shadow: black 1px 2px 0;
    }
  }

  .item.active {
    height: 100%;
    line-height: 2rem;
    background-color: rgba(73, 12, 11,1);
    color: rgba(255,255,255,1);
    background-color: rgb(73, 12, 11);
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% 100%, 0 100%, 0% 0%, 0% 100%);

    &:hover {
      background-color: rgba(73, 12, 11,1);
      cursor: default;
    }
  }
}
