.tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  .item {
    line-height: 15px;
    font-weight: bold;
    background-color: #aaa;
    padding: 1px;
    margin: 0 5px;
    --notchSize: 8px;
    width: 100%;

    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));

    &:hover {
      text-shadow: 0 0 8px white;
    }
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
    background-color: rgb(73, 12, 11);
    color: white;
    font-weight: normal;
  }
}

&.v2 {
  .tabs {
    position: absolute;
    width: 40px;
    right: -20px;
    top: 160px;
    flex-direction: column;

    .item {
      line-height: 35px;
      font-size: 16pt;
      margin: 5px 5px;
      background-color: #cccccc;
      &.active {
        background: rgb(204,204,204);
        background: linear-gradient(to right, rgba(204,204,204,1) 0%, #7da9c2 100%);
        margin-right: -10px;
      }
    }
  }
}