.talents {
  margin: 0;
}

table {
  &.talent-list {
    border: 0;
    margin: 1em 0 0 0;

    .item:hover {
      background: rgba(25, 24, 19, 0.12);
      margin: +2px;
    }

    th {
      text-align: left;
      padding: 3px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      background-color: rgb(73, 12, 11);
      color: white;
      font-size: 12px;
      font-weight: normal;
    }

    td {
      height: 30px;
      line-height: 24px;
      padding: 3px;
      position: relative;

      .item-controls {
        text-align: right;
        width: auto;
        z-index: auto;
      }
    }
  }
}
