.item-sheet-talent {
  $swffg-talent-color: rgb(130, 21, 23);
  $swffg-talent-color-light:rgb(242, 235, 222);

  .charname {
    input {
      color: $swffg-talent-color;
    }
  }

  .characteristic-item {
    .characteristic-label {
      background-color: $swffg-talent-color;
    }

    .characteristic {
      border: 5px double $swffg-talent-color;
    }
  }

  .block-background {
    background-color: $swffg-talent-color-light;
  }

  .attribute {
    .block-title {
      background-color: $swffg-talent-color;
    }
  }

  .sheet-body {
    height: calc(100% - 20.3125rem);
  }
  
}

&.sheet {
  &.item {
    &.v2 {
      .item-sheet-talent {
        .sheet-body {
          height: calc(100% - 19.3125rem);
        }        
      }
    }
  }
}