.item:hover {
  .hover {
    text-decoration: underline;
  }
}

.hover {
  &:hover {
    .tooltip {
      opacity: 1;
      z-index: 500;
    }
    .tooltip2 {
      opacity: 1;
      z-index: 500;
      pointer-events: none;
    }
  }
  &:focus {
    .tooltip2 {
      opacity: 1;
      z-index: 500;
    }
  }
  .tooltip {
    top: 30px;
    background-color: rgba(25, 24, 19, 0.8);
    color: white;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: -500;
    padding: 0 10px;
  }
  .tooltip2 {
    li {
      text-align: left;
    }
    .dietype {
      background-color: white;
    }
    width: 100%;
    height: max-content;
    min-width: 150px;
    max-width: 360px;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    left: 0;
    background: #23221d;
    border: 1px solid #000;
    border-radius: 5px;
    color: #EEE;
    z-index: -500;
    opacity: 0;
    padding: 5px 10px;
  }
}

.ffg-sendtochat.hover {
  &:hover {
    .tooltip2 {
      background: #fff;
      border: 1px solid #23221d;
      color: #23221d
    }
  }
}