<div class="starwarsffg dice-roll">
  {{#if publicRoll }}
  <div class="dice-result">
    {{#if hasStandard}}
    <div class="dice-formula">{{formula}}</div>
    {{/if}} {{#if hasFFG}} {{#if data._id}}
    <div class="item-display">
      {{#if (ne data.img "icons/svg/mystery-man.svg")}}
      <img class="item-image" src="{{data.img}}" />
      {{/if}}
      <h2 class="item-name">{{data.name}}</h2>
      {{#if ffg.success}}
      <h4 class="item-damage">Damage: <input class="damage-value" type="text" value="{{data.data.damage.adjusted}} + {{ffg.success}} = {{math data.data.damage.adjusted '+' ffg.success}}" disabled /></h4>
      <h4 class="item-critical">Critical: <input class="damage-value" type="text" value="{{data.data.crit.value}}" disabled /></h4>
      {{else}}
      <h4 class="item-miss">Miss!</h4>
      {{/if}} {{#if data.data.special.value}}
      <div class="specials">
        <h5>
          Special Qualities:
          <div class="damage-value">{{{ffgDiceSymbols data.data.special.value}}}</div>
        </h5>
      </div>
      {{/if}}
    </div>
    {{/if}}
    <div class="ffgDiceArray">
      <ol class="dice-rolls">
        {{#each ffgDice}} {{#if this.isFFG}}{{#each this.rolls}}
        <li class="roll">{{{this.result}}}</li>
        {{/each}} {{/if}} {{/each}}
      </ol>
    </div>
    <div>
      {{#each addedResults}} {{#if (ne this.value 0)}}
      <div>{{#if this.negative}}-{{else}}+{{/if}}{{this.value}}{{{this.symbol}}}</div>
      {{/if}} {{/each}}
    </div>
    {{/if}} {{{tooltip}}} {{#if hasStandard}}
    <h4 class="dice-total">{{total}}</h4>
    {{/if}} {{#if publicRoll }} {{#if hasFFG}}
    <ul>
      {{#if hasSuccess}} {{#if ffg.success}}
      <li class="roll-success">Check succeeded!</li>
      {{else}}
      <li class="roll-failure">Check failed!</li>
      {{/if}} {{/if}} {{#each ffg as | result key|}} {{#if this}}
      <li>{{lookup ../this.diceresults [key]}}: {{this}}</li>
      {{/if}} {{/each}}
    </ul>
    {{/if}} {{/if}}
  </div>
  {{/if}}
</div>
