<!--
	NOTE: this is done via tabs, not spaces.
	see https://stackoverflow.com/questions/22831988/string-attribute-values-in-multiple-lines-html
-->
<div style=&quot;display: flex; flex-direction: column&quot;>
	<div>
		<img src=&quot;{{ this.fields.img }}&quot; style=&quot;height: 16px; width: 16px;&quot;>
	</div><div>
		{{ this.fields.activation }} | {{#if this.fields.isRanked }}Ranked{{else}}Unranked{{/if}}{{#if this.fields.isForceTalent }} | Force Talent {{/if}}{{#if this.fields.isConflictTalent }} | Conflict{{/if}}
	</div>{{# if expanded }}<div>
		{{ this.fields.description }}
	</div>{{/if}}<div>
	<table>
		<thead>
			<tr>
				<th>mod</th><th>value</th><th>active</th>
			</tr>
		</thead>
		<tbody>
		{{#each this.fields.attributes as |modifier| }}
			<tr>
				<td>{{ modifier.mod }}</td><td>{{ modifier.value }}</td><td>{{ modifier.active }}</td>
			</tr>{{/each}}
		</tbody>
	</table>
</div>
