<div id="{{id}}" class="dice-pool-dialog">
  <div class="dice-pool"></div>
  <div class="upgrade-buttons">
    <button id="upgrade-ability">{{localize "SWFFG.UpgradeAbility"}}</button>
    <button id="upgrade-difficulty">{{localize "SWFFG.UpgradeDifficulty"}}</button>
  </div>
  <table>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/yellow.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="proficiency" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceProficiency"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/green.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="ability" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceAbility"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/red.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="challenge" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceChallenge"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/purple.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="difficulty" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceDifficulty"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/blue.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="boost" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceBoost"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/black.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="setback" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceSetback"}}</td>
    </tr>
    <tr class="pool-container flex-group-center">
      <td><img src="systems/starwarsffg/images/dice/starwars/whiteHex.png" width="40" height="40" /></td>
      <td>
        <div class="pool-value"><input type="button" name="force" min="0" /></div>
      </td>
      <td>{{localize "SWFFG.DiceForce"}}</td>
    </tr>
  </table>
</div>

<script>
  function updateInput(scope, pool, type) {
    const input = scope.querySelector(`[name="${type}"`);
    input.value = pool[type];
  }

  function setupInput(scope, pool, type) {
      const input = scope.querySelector(`[name="${type}"`);
      input.value = pool[type];

      input.addEventListener("click", (event) => {
        event.target.value++;
        pool[type] = parseInt(event.target.value);
        updatePreview(scope, pool);
      });
      input.addEventListener("contextmenu", (event) => {
        if (event.target.value > 0) {
          event.target.value--;
          pool[type] = parseInt(event.target.value);
          updatePreview(scope, pool);
        }
      });
  }

  function updatePreview(scope, pool) {
      const poolDiv = scope.querySelector(".dice-pool");
      poolDiv.innerHTML = "";
      pool.renderPreview(poolDiv);
  }

  (function() {
      const scope = document.getElementById("{{{id}}}");
      const pool = new DicePoolFFG({{{json dicePool}}});
      const upgradeAbButton = document.getElementById("upgrade-ability");
      const upgradeDiButton = document.getElementById("upgrade-difficulty");

      upgradeAbButton.addEventListener("click", (event) => {
        pool.upgrade(1);
        updateInput(scope, pool, "proficiency");
        updateInput(scope, pool, "ability");
        updatePreview(scope, pool);
      });
      upgradeDiButton.addEventListener("click", (event) => {
        pool.upgradeDifficulty(1);
        updateInput(scope, pool, "challenge");
        updateInput(scope, pool, "difficulty");
        updatePreview(scope, pool);
      });

      updatePreview(scope, pool);
      setupInput(scope, pool, "proficiency");
      setupInput(scope, pool, "ability");
      setupInput(scope, pool, "challenge");
      setupInput(scope, pool, "difficulty");
      setupInput(scope, pool, "boost");
      setupInput(scope, pool, "setback");
      setupInput(scope, pool, "force");
  })();
</script>
