<form class="{{cssClass}} item-sheet-itemattachment" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <table>
        <tr>
          <td class="profile-img-field">
            <div class="container flex-group-center">
              <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
          </td>
          <td>
            <div class="container flex-group-center">
              <div class="container flex-group-center item-name">
                <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
              </div>
              <div class="container flex-group-center">
                <div class="grid grid-2col">
                  <div class="characteristic-item flex-group-center">
                    <div class="characteristic">
                      <div class="characteristic-value">
                        <input type="text" name="data.hardpoints.value" value="{{data.hardpoints.value}}" data-dtype="Number" />
                      </div>
                    </div>
                    <div class="characteristic-label">
                      {{localize "SWFFG.ItemWeaponHardPoints"}}
                    </div>
                  </div>
                  <div class="characteristic-item flex-group-center">
                    <div class="characteristic">
                      <div class="characteristic-value {{#if data.rarity.isrestricted}}restricted{{/if}}">
                        <input type="text" name="data.rarity.value" value="{{data.rarity.value}}" data-dtype="Number" />
                      </div>
                    </div>
                    <div class="characteristic-label">
                      {{localize "SWFFG.ItemWeaponRarity"}}
                    </div>
                  </div>
                </div>
                <div class="container flex-group-center weapon-values">
                  {{> "systems/starwarsffg/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.ItemWeaponPrice" type="Number" name="data.price.value" value=data.price.value)}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}} {{> "systems/starwarsffg/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited items=(array (object tab="description" label="SWFFG.TabDescription" icon="far fa-file-alt" cls=classType) (object tab="attributes" label="SWFFG.TabBaseModifiers" icon="fas fa-cog" cls=classType) (object tab="additional" label="SWFFG.TabAdditionalModifiers" icon="fas fa-cog" cls=classType) (object tab="configuration" label="SWFFG.TabConfiguration" icon="fas fa-cog" isHidden=isTemp cls=classType) )}} {{!-- Sheet Body --}}
  <section class="sheet-body small">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor data.renderedDesc target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Base Mods Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-active-effects.html"}}
        {{> "systems/starwarsffg/templates/parts/shared/ffg-test-attachment-mod.html" (object mods=base_mods mod_activeEffects=mod_activeEffects mode='base')}}
    </div>

    {{!-- Added Mods Tab --}}
    <div class="tab additional" data-group="primary" data-tab="additional">
        {{> "systems/starwarsffg/templates/parts/shared/ffg-test-attachment-mod.html" (object mods=added_mods mod_activeEffects=mod_activeEffects mode='added')}}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab configuration" data-group="primary" data-tab="configuration">
      <div class="container flex-group-center">
        {{> "systems/starwarsffg/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.IsRestricted" type="Boolean" name="data.rarity.isrestricted" value=data.rarity.isrestricted)}} {{> "systems/starwarsffg/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.Type" type="Dropdown" name="data.type" value=data.type options=this.FFG.itemmodifier_types)}}
      </div>
    </div>
  </section>
</form>
