<form class="{{cssClass}} item-sheet-talent" autocomplete="off">
  <header class="sheet-header talents">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center item-name">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      </div>

      <div class="container flex-group-center">
        <div class="resource single">
          <div class="attribute flex-group-center">
            <div class="block-background">
              <div class="block-title">
                {{localize "SWFFG.TalentsActivation"}}
              </div>
              <div class="block-attribute">
                <select style="text-align: center;" name="data.activation.value">
                  {{#select data.activation.value}} {{#each this.FFG.activations as |t|}}
                  <option value="{{t.value}}">{{localize t.label}}</option>
                  {{/each}} {{/select}}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="resource single">
          <div class="attribute flex-group-center">
            <div class="block-background">
              <div class="block-title">
                {{localize "SWFFG.ItemTalentRanked"}}
              </div>
              <div class="block-attribute">
                <input class="ranked-toggle" style="text-align: center;" type="checkbox" name="data.ranks.ranked" data-dtype="Boolean" {{checked data.ranks.ranked}} />
              </div>
            </div>
          </div>
        </div>
        <div class="resource single">
          <div class="attribute flex-group-center">
            <div class="block-background">
              <div class="block-title">
                {{localize "SWFFG.TalentsRank"}}
              </div>
              <div class="block-attribute">
                {{#if data.ranks.ranked}}
                <div class="block-value block-single"><input type="text" name="data.ranks.current" value="{{data.ranks.current}}" data-dtype="Number" /></div>
                {{else}}
                <div class="block-value block-single"><input type="text" value="N/A" disabled /></div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{#if (ne this.FFG.theme "starwars" )}}
        <div class="resource single">
          <div class="attribute flex-group-center">
            <div class="block-background">
              <div class="block-title">
                {{localize "SWFFG.TalentTier"}}
              </div>
              <div class="block-attribute">
                <select style="text-align: center;" name="data.tier">
                  {{#select data.tier}}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  {{/select}}
                </select>
              </div>
            </div>
          </div>
        </div>

        {{else}}
        <div class="resource single">
          <div class="attribute flex-group-center">
            <div class="block-background">
              <div class="block-title">
                {{localize "SWFFG.TalentsForce"}}
              </div>
              <div class="block-attribute">
                <input class="ranked-toggle" style="text-align: center;" type="checkbox" name="data.isForceTalent" data-dtype="Boolean" {{checked data.isForceTalent}} />
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SWFFG.TabDescription"}}</a>
    <a class="item" data-tab="attributes">{{localize "SWFFG.TabModifiers"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body small">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.renderedDesc target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>
