<form class="{{cssClass}} item-sheet-career" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center">
        <div class="container flex-group-center item-name">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
    {{> "systems/starwarsffg/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited items=(array
      (object tab="description" label="SWFFG.TabDescription" icon="far fa-file-alt" cls=classType)
      (object tab="attributes" label="SWFFG.TabModifiers" icon="fas fa-cog" cls=classType)
      (object tab="career" label="SWFFG.TabCareer" icon="fas fa-cog" cls=classType)
      (object tab="sources" label="SWFFG.TabSources" icon="fa-light fa-book-open-cover" cls=classType)
      (object tab="tags" label="SWFFG.TabTags" icon="fa-sharp fa-regular fa-tags" cls=classType)
    )}}
  {{!-- Sheet Body --}}
  <section class="sheet-body small">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor data.enrichedDescription target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>
    {{!-- Career Data Tab --}}
    <div class="tab career" data-group="primary" data-tab="career">
      <h2>Career Skills</h2>
      <div class="container career-skills">
        {{#each data.careerSkills as |skill index|}}
          <div class="career-skill">
            <select name="data.careerSkills.{{ index }}" class="dropdown">
              {{ selectOptions ../careerSkills selected=skill valueAttr="value" labelAttr="label" localize=true }}
            </select>
          </div>
        {{/each }}
      </div>
      <h2>{{localize "SWFFG.Actors.Sheets.Purchase.Career.Specializations.Header"}}</h2>
      {{#if data.specializations}}
      {{#each data.specializations as |s_data id|}}
        <div class="specialization-pill item-pill2 {{#if s_data.broken}}link-broken{{/if}}" data-item-type="specialization" data-specialization-id="{{id}}">
          {{s_data.name}}<i class="fas fa-times item-delete" data-item-type="specialization" data-specialization-id="{{id}}"></i>
        </div>
      {{/each}}
      {{else}}
        {{ localize "SWFFG.Actors.Sheets.Purchase.Career.Specialization.DropHint" }}
      {{/if}}
      <h2>{{localize "SWFFG.Actors.Sheets.Purchase.Career.SignatureAbility.Header"}}</h2>
      {{#if data.signatureabilities}}
      {{#each data.signatureabilities as |s_data id|}}
        <div class="signatureability-pill item-pill2 {{#if s_data.broken}}link-broken{{/if}}" data-item-type="signatureability" data-specialization-id="{{id}}">
          {{s_data.name}}<i class="fas fa-times item-delete" data-item-type="signatureability" data-specialization-id="{{id}}"></i>
        </div>
      {{/each}}
      {{else}}
        {{ localize "SWFFG.Actors.Sheets.Purchase.Career.SignatureAbility.DropHint" }}
      {{/if}}
    </div>

    {{!-- Long Description and Sources Tab --}}
    <div class="tab sources" data-group="primary" data-tab="sources">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-sources.html" data=data}}
    </div>

    {{!-- Tags Tab --}}
    <div class="tab tags" data-group="primary" data-tab="tags">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-tags.html" data=data}}
    </div>
  </section>
</form>
