<form class="{{cssClass}} item-sheet-armor" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center">
        <div class="container flex-group-center item-name">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
        <div class="container flex-group-center">
          <div class="grid grid-5col">
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.defence.value" value="{{data.defence.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemArmorDefense"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.soak.value" value="{{data.soak.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemsSoak"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponEncumbrance"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.hardpoints.value" value="{{data.hardpoints.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponHardPoints"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.rarity.value" value="{{data.rarity.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponRarity"}}
              </div>
            </div>
          </div>

          <div class="container flex-group-center weapon-values">
            {{> "systems/starwarsffg/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.ItemWeaponPrice" type="Number" name="data.price.value" value=data.price.value)}} {{> "systems/starwarsffg/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.ItemWeaponQuantity" type="Number" name="data.quantity.value" value=data.quantity.value)}}
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SWFFG.TabDescription"}}</a>
    <a class="item" data-tab="attributes">{{localize "SWFFG.TabModifiers"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body small">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.renderedDesc target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/starwarsffg/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>
