<form class="{{cssClass}} item-sheet-criticalinjury" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="container flex-group-center item-name">
        
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="container flex-group-center items">
      <div class="resource split">
        <div class="attribute flex-group-center">
          <div class="block-background">
            <div class="block-title">
              d100 Roll 
            </div>
            <div class="block-attribute">
              <div class="block-value"><input type="text" name="data.min" value="{{data.min}}" data-dtype="Number" /></div>
              <div class="block-value"><input type="text" name="data.max" value="{{data.max}}" data-dtype="Number" /></div>
            </div>
          </div>
          <div class="block-background-shadow">
            <div class="shadow-left">
              <div class="shadow-text">{{localize "SWFFG.RollLow"}}</div>
            </div>
            <div class="shadow-right">
              <div class="shadow-text">{{localize "SWFFG.RollHigh"}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container flex-group-center">
      <div class="resource single">
        <div class="attribute flex-group-center severity-block">
          <div class="block-background">
            <div class="block-title">
              {{localize "SWFFG.Severity"}}
            </div>
            <div class="block-attribute">
              <div class="severity">
                <select name="data.severity" class="severity-select" id="criticalhit-{{item._id}}">
                  {{#select data.severity}} {{#each this.FFG.difficulty as |t|}}
                  <option value="{{t.value}}">{{localize t.label}} {{t.image}}</option>
                  {{/each}} {{/select}}
                </select>
                <div class="severity-display"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-background block-editor">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
    