<form class="{{cssClass}} item-sheet-weapon" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center">
        <div class="container flex-group-center item-name">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
        <div class="container flex-group-center">
          <div class="grid grid-5col">
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponDamage"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.crit.value" value="{{data.crit.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponCritical"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponEncumbrance"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.hardpoints.value" value="{{data.hardpoints.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponHardPoints"}}
              </div>
            </div>
            <div class="characteristic-item flex-group-center">
              <div class="characteristic">
                <div class="characteristic-value">
                  <input type="text" name="data.rarity.value" value="{{data.rarity.value}}" data-dtype="Number" />
                </div>
              </div>
              <div class="characteristic-label">
                {{localize "SWFFG.ItemWeaponRarity"}}
              </div>
            </div>
          </div>

          <div class="container flex-group-center weapon-values">
            <div class="resource single">
              <div class="attribute flex-group-center">
                <div class="block-background">
                  <div class="block-title">
                    {{localize "SWFFG.ItemWeaponSkill"}}
                  </div>
                  <div class="block-attribute">
                    <select style="text-align: center;" name="data.skill.value">
                      {{#select data.skill.value}}
                        {{#each this.FFG.combat_skills as |t|}}
                      <option value="{{t.value}}">{{localize t.label}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="resource single">
              <div class="attribute flex-group-center">
                <div class="block-background">
                  <div class="block-title">
                    {{localize "SWFFG.ItemWeaponRange"}}
                  </div>
                  <div class="block-attribute">
                    <select style="text-align: center;" name="data.range.value">
                      {{#select data.range.value}} {{#each this.FFG.ranges as |t|}}
                      <option value="{{t.value}}">{{localize t.label}}</option>
                      {{/each}} {{/select}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="resource single">
              <div class="attribute flex-group-center">
                <div class="block-background">
                  <div class="block-title">
                    {{localize "SWFFG.ItemWeaponPrice"}}
                  </div>
                  <div class="block-attribute">
                    <div class="block-value block-single"><input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="Number" /></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resource single qty">
              <div class="attribute flex-group-center">
                <div class="block-background">
                  <div class="block-title">
                    {{localize "SWFFG.ItemWeaponQuantity"}}
                  </div>
                  <div class="block-attribute">
                    <div class="block-value block-single"><input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container flex-group-center weapon-values">
            <div class="resource full">
              <div class="attribute flex-group-center">
                <div class="block-background">
                  <div class="block-title">
                    {{localize "SWFFG.ItemWeaponSpecial"}}
                  </div>
                  <div class="block-attribute">
                    <div class="block-value block-single"><textarea name="data.special.value" rows="1" cols="50" data-dtype="String">{{data.special.value}}</textarea></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "SWFFG.TabDescription"}}</a>
    <a class="item" data-tab="attributes">{{localize "SWFFG.TabModifiers"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body small">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <header class="attributes-header flexrow">
        <!-- <span class="attribute-key">ID</span> -->
        <span class="attribute-modtype">Mod Type</span>
        <span class="attribute-mod">Modifier</span>
        <span class="attribute-value">Value</span>
        <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
      </header>

      <ol class="attributes-list">
        {{#each data.attributes as |attr key|}}
        <li class="attribute flexrow" data-attribute="{{key}}">
          <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}" style="display: none;" />
          <select class="attribute-modtype" name="data.attributes.{{key}}.modtype">
            {{#select attr.modtype}} {{#each ../this.FFG.mod_types as |t|}}
            <option value="{{t}}">{{t}}</option>
            {{/each}} {{/select}}
          </select>
          <select class="attribute-mod" name="data.attributes.{{key}}.mod">
            {{#select attr.mod}} {{#iff attr.modtype '==' 'Stat' }} {{#each ../this.FFG.character_stats as |t|}}
            <option value="{{t.value}}">{{localize t.label}}</option>
            {{/each}} {{/iff}} {{#iff attr.modtype '==' 'Skill Rank' }} {{#each ../this.FFG.skills as |t|}}
            <option value="{{t.value}}">{{localize t.label}}</option>
            {{/each}} {{/iff}} {{#iff attr.modtype '==' 'Skill Boost' }} {{#each ../this.FFG.skills as |t|}}
            <option value="{{t.value}}">{{localize t.label}}</option>
            {{/each}} {{/iff}} {{#iff attr.modtype '==' 'Characteristic' }} {{#each ../this.FFG.characteristics as |t|}}
            <option value="{{t.value}}">{{localize t.label}}</option>
            {{/each}} {{/iff}} {{/select}}
          </select>
          <input class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}" placeholder="0" />
          <!-- <input class="attribute-label" type="text" name="data.attributes.{{key}}.label" value="{{attr.label}}"/> -->
          <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form>