<form class="{{cssClass}} item-sheet-criticalinjury" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="container flex-group-center item-name">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      </div>
      <div class="container flex-group-center items">
        {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="split" title="d100 Roll" fields=(array (object name="data.min" value=data.min type="Number" label="Low") (object name="data.max" value=data.max type="Number" label="High") ))}}
      </div>

      <div class="container flex-group-center crit-label">
        {{> "systems/genesysk2/templates/parts/shared/ffg-block.html" (object blocktype="single" title="SWFFG.Severity" type="Dropdown" name="data.severity" value=data.severity options=this.FFG.difficulty)}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}} {{> "systems/genesysk2/templates/parts/shared/ffg-tabs.html" displayLimited=true limited=limited items=(array (object tab="description" label="SWFFG.TabDescription" icon="far fa-file-alt" cls=classType) (object tab="attributes" label="SWFFG.TabModifiers" icon="fas fa-cog" cls=classType) )}} {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="editor-wrapper">
        <div class="block-background block-editor">
          {{editor data.renderedDesc target="system.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Modifiers Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> "systems/genesysk2/templates/parts/shared/ffg-modifiers.html"}}
    </div>
  </section>
</form>
