.worldbuilding.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
}

/* Sheet Header */
.worldbuilding.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.worldbuilding.sheet .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.worldbuilding.sheet .header-fields {
    flex: 1;
    height: 10em;
}

.worldbuilding.sheet .charname {
    height: 60px;
    padding: 5px;
    margin: 0;
    border-bottom: 0;
}
.worldbuilding.sheet .charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.worldbuilding.sheet .resource {
    height: 40px;
    width: 50%;
    padding: 3px 10px;
    float: left;
}
.worldbuilding.sheet .resource input {
    width: 100px;
    height: 28px;
}

/* Navigation Tabs */
.worldbuilding.sheet .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.worldbuilding.sheet .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.worldbuilding.sheet .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

/* Content Tabs */
.worldbuilding.sheet .sheet-body {
    height: calc(100% - 160px);
    overflow: auto;
}
.worldbuilding.sheet .sheet-body .tab {
    height: 100%;
}
.worldbuilding.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}

/*
This seems to be necessary to make scrolling inside the actor
sheet work. There is likely a better way to do this.
*/
.editable {
    max-height: 100%;
}

/* Items */
.worldbuilding.sheet .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.worldbuilding.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.worldbuilding.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.worldbuilding.sheet .items-list .item-name {
    margin: 0;
}
.worldbuilding.sheet .items-list .item-controls {
    flex: 0 0 36px;
}

/* Attributes */
.worldbuilding.sheet .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.worldbuilding.sheet .attribute-label {
    flex: 1.5;
}
.worldbuilding.sheet .attribute-control {
    flex: 0 0 20px;
}

.worldbuilding.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.worldbuilding.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.worldbuilding.sheet .attribute-value.checkbox {
    text-align: center;
}

.worldbuilding.sheet .attributes-list li a.attribute-control {
    border: none;
}

.worldbuilding.sheet .characteristics-list {
    list-style: none;
}

.worldbuilding.sheet .characteristics-list input {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;;
    display: block;;
    font-size: 18pt;
}

.worldbuilding.sheet .characteristics-list input:invalid {
    border: 2px solid red;
}

.worldbuilding.sheet .characteristics-list label {
    display: block;
    width: 3em;
    text-align: center;
}

/*
A split-box is a box that is divided in half.
This is designed to mimic the threshold, wound and other
boxes at the top of the standard FFG character sheets.
 */
.split-box {
    border: 2px solid black;
    border-radius: 15px;
    width: max-content;
}

.split-box .divider {
    width: 1px;
    background: darkgray;
}

.split-box > .content {
    display: flex;
}

.split-box h1 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.split-box input {
    border: 0;
    text-align: center;
    background: transparent;
}

.split-box label {
    display: block;
    font-size: 90%;
    color: #222;
    text-align: center;
}

.roll-button {
    height: 1.5em;
    width: 1.5em;
    border: 0;
}

.dice-pool img {
    border: 0;
    width: 2em;
    height: 2em;
}
