@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "StarJedi";
  src: url("../fonts/StarJedi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EotESymbol";
  src: url("../fonts/EotESymbol-Regular-PLUS.otf") format("opentype");
}

/* Global styles */
div, section {
  scrollbar-width: thin;
}

.window-app {
  font-family: "Roboto", sans-serif;
}

.window-app .window-content {
  background: rgba(255, 255, 255, 0.7);
  font-size: 9pt;
}

.hidden-content {
  display: none;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

#chat-log .message {
  background: rgba(255, 255, 255, 0.9);
}

#chat-form textarea {
  background: rgba(255, 255, 255, 0.9);
}

span.dietype {
  font-family: "EotESymbol", sans-serif;
}

span.dietype.ability {
  color: green;
}

span.dietype.advantage {
  color: black;
}

span.dietype.boost {
  color: lightskyblue;
}

span.dietype.challenge {
  color: red;
}

span.dietype.dark {
  color: black;
}

span.dietype.despair {
  color: black;
}

span.dietype.difficulty {
  color: purple;
}

span.dietype.forcepoint {
  color: black;
}

span.dietype.failure {
  color: black;
}

span.dietype.force {
  color: black;
}

span.dietype.light {
  color: black;
}

span.dietype.proficiency {
  color: yellow;
}

span.dietype.setback {
  color: black;
}

span.dietype.success {
  color: black;
}

span.dietype.threat {
  color: black;
}

span.dietype.triumph {
  color: black;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

img {
  border: 0;
}

.starwarsffg .block-background {
  background-color: #ddd;
  padding: 5px;
  margin: 0 5px;
  --notchSize: 9px;
  -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .block-background-shadow {
  position: absolute;
  width: 100%;
  top: 30px;
  height: 30px;
  background-color: #7da9c2;
  padding: 5px;
  z-index: -1;
  --notchSize: 9px;
  -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 11pt;
}

.starwarsffg .container .attributes {
  margin-top: 5px;
}

.starwarsffg .container.flex-group-center {
  border: 0;
  margin-bottom: 5px;
  padding: 0 5px 5px 5px;
}

.starwarsffg.sheet.item .popout-editor {
  height: 50px;
  width: 215px;
}

.starwarsffg.sheet.item .tabs {
  height: 20px;
  border: 0;
}

.starwarsffg.sheet.item .tabs .item {
  line-height: 15px;
}

.starwarsffg.sheet .window-content {
  overflow-y: hidden;
}

.starwarsffg.sheet .sheet-body {
  margin: 10px 5px;
  overflow: auto;
}

.starwarsffg .charname {
  width: 100%;
}

.starwarsffg .charname input {
  color: black;
  border: 0;
}

.starwarsffg .charname input:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
}

.starwarsffg .characteristic-item {
  border: 0;
  position: relative;
  padding: 0;
  margin: 0 5px;
}

.starwarsffg .characteristic-item .characteristic-label {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  --notchSize: 7px;
  -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .characteristic-item .characteristic {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 5px double black;
  margin: auto;
  position: relative;
}

.starwarsffg .characteristic-item .characteristic .characteristic-value input {
  height: 40px;
  border: 0;
  font-size: 30px;
  text-align: center;
}

.starwarsffg .characteristic-item .characteristic .characteristic-value input:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
  border-radius: 5px;
}

.starwarsffg .item-name {
  margin: 0;
  padding-bottom: 0;
}

.starwarsffg .grid {
  margin-top: 0;
}

.starwarsffg .attribute {
  position: relative;
  padding: 0;
  z-index: 1;
  border: 0;
}

.starwarsffg .attribute .block-background-shadow {
  top: 36px;
}

.starwarsffg .attribute .block-background {
  padding: 5px 5px;
}

.starwarsffg .attribute .block-title {
  line-height: initial;
  background-color: #553113;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin: auto;
  --notchSize: 8px;
  -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .attribute .block-attribute select:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
}

.starwarsffg .attribute .block-attribute .block-value {
  display: inline-block;
}

.starwarsffg .attribute .block-value textarea {
  resize: none;
  font-family: 'Roboto';
  border: 0;
}

.starwarsffg .attribute .block-value textarea:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
  outline: none;
}

.starwarsffg .attribute .block-value.block-single input {
  width: 100%;
  padding: 6px;
}

.starwarsffg .attribute .block-value input {
  border: 0;
  font-size: 14px;
}

.starwarsffg .attribute .block-value input:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
}

.starwarsffg .attribute .shadow-text {
  position: absolute;
  top: 5px;
  font-size: 9px;
  left: 50%;
  transform: translateX(-50%);
}

.starwarsffg .attribute .shadow-left {
  background-color: #490c0b;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  padding-top: 25px;
}

.starwarsffg .attribute .shadow-left .shadow-text {
  color: white;
  text-transform: uppercase;
}

.starwarsffg .attribute .shadow-right {
  background-color: #7da9c2;
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
  padding-top: 25px;
}

.starwarsffg .attribute .shadow-right .shadow-text {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.starwarsffg .resource {
  line-height: 30px;
  width: 110px;
  height: 40px;
  padding-bottom: 4px;
  padding-left: 2px;
  margin: 0;
  display: inline-table;
}

.starwarsffg .resource.split {
  width: 130px;
}

.starwarsffg .resource.single {
  width: 100px;
}

.starwarsffg .resource.double {
  width: 235px;
}

.starwarsffg .resource input {
  width: 45px;
}

.starwarsffg .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-top: 3px;
}

.starwarsffg .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.starwarsffg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.starwarsffg form {
  overflow: hidden;
}

.starwarsffg .talent-body {
  height: 100px;
  overflow: auto;
}

.starwarsffg .talent-hidden {
  display: none;
}

.starwarsffg .talent-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.starwarsffg .talent-upgrade {
  position: relative;
  margin: 10px 10px 0 10px;
}

.starwarsffg .talent-upgrade .talent-actions {
  display: none;
}

.starwarsffg .talent-upgrade .talent-actions .split,
.starwarsffg .talent-upgrade .talent-actions .combine {
  display: none;
}

.starwarsffg .talent-upgrade .talent-actions.talent-canSplit {
  display: block;
}

.starwarsffg .talent-upgrade .talent-actions.talent-canSplit .split {
  display: initial;
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 15px;
  color: white;
}

.starwarsffg .talent-upgrade .talent-actions.talent-canSplit .split i {
  transform: rotate(45deg);
}

.starwarsffg .talent-upgrade .talent-actions.talent-canCombine {
  display: block;
}

.starwarsffg .talent-upgrade .talent-actions.talent-canCombine .combine {
  display: initial;
  position: absolute;
  right: -16px;
  font-size: 15px;
  top: 15px;
}

.starwarsffg .talent-upgrade .talent-actions.talent-canCombine .combine i {
  transform: rotate(45deg);
}

.starwarsffg .talent-upgrade.talent-single {
  flex: 1 0 21%;
}

.starwarsffg .talent-upgrade.talent-double {
  flex: 1 0 46%;
}

.starwarsffg .talent-upgrade.talent-triple {
  flex: 1 0 71%;
}

.starwarsffg .talent-upgrade.talent-full {
  flex: 1 0 97%;
}

.starwarsffg .talent-background {
  position: relative;
  z-index: 10;
  background-color: #ddd;
  padding: 5px;
  --notchSize: 9px;
  -webkit-clip-path: polygon(0% 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .talent-background .talent-header {
  position: relative;
  background-color: #000544;
  padding: 5px;
  --notchSize: 9px;
  -webkit-clip-path: polygon(0 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0 0, var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .talent-background .talent-header div {
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.starwarsffg .talent-background .talent-header div.talent-name {
  width: 75%;
}

.starwarsffg .talent-background .talent-header div.talent-name span {
  font-size: 9px;
  float: right;
}

.starwarsffg .talent-background .talent-header div input[type="text"] {
  border: 0px;
  background-color: #001e82;
  color: white;
}

.starwarsffg .talent-background.talent-active .talent-header {
  background-color: #490c0b;
}

.starwarsffg .talent-background.talent-passive .talent-header {
  background-color: #464855;
}

.starwarsffg .talent-row {
  margin: 10px 0;
}

.starwarsffg .talent-row .talent-upgrade {
  margin: 0 3px;
}

.starwarsffg .talent-connections {
  font-size: 15px;
}

.starwarsffg .talent-single textarea {
  max-width: 145px;
}

.starwarsffg .talent-double textarea {
  max-width: 315px;
}

.starwarsffg .talent-triple textarea {
  max-width: 495px;
}

.starwarsffg .talent-full textarea {
  max-width: 670px;
}

.starwarsffg .talent-connection-point-top {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
}

.starwarsffg .talent-connection-point-top.talent-single {
  position: relative;
  text-align: center;
  transform: initial;
  left: initial;
  display: inline-block;
}

.starwarsffg .talent-connection-point-top.talent-double {
  position: relative;
  display: inline-block;
  width: 50%;
  left: initial;
  transform: none;
  text-align: center;
}

.starwarsffg .talent-connection-point-top.talent-triple {
  position: relative;
  display: inline-block;
  width: 33%;
  left: initial;
  transform: none;
  text-align: center;
}

.starwarsffg .talent-connection-point-top.talent-full {
  position: relative;
  display: inline-block;
  width: 25%;
  left: initial;
  transform: none;
  text-align: center;
}

.starwarsffg .talent-connection-point-top .talent-connector-up {
  display: none;
}

.starwarsffg .talent-connection-point-right {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.starwarsffg .talent-connection-point-right .talent-connector-side {
  display: none;
}

.starwarsffg .talent-connector i {
  display: none;
}

.starwarsffg .talent-connector .talent-connector-up,
.starwarsffg .talent-connector .talent-connector-side {
  display: inline-block;
  width: 20px;
  height: 12px;
  background-color: black;
  position: absolute;
  top: -3px;
}

.starwarsffg .talent-connector .talent-connector-up i,
.starwarsffg .talent-connector .talent-connector-side i {
  display: initial;
  color: white;
}

.starwarsffg .talent-connector .talent-connector-up {
  height: 100px;
  top: -50px;
  z-index: 5;
}

.starwarsffg .talent-connector .talent-connector-up i {
  position: absolute;
  top: 50%;
  left: 3px;
}

.starwarsffg .talent-connector .talent-connector-side {
  right: -15px;
  width: 20px;
  height: 20px;
}

.starwarsffg .talent-disable-edit .talent-actions {
  display: none !important;
}

.starwarsffg .talent-disable-edit .talent-connections i {
  display: none !important;
}

.starwarsffg .talent-action {
  cursor: pointer;
}

.starwarsffg .header-fields {
  position: relative;
}

.starwarsffg .header-fields .talent-actions {
  position: absolute;
  right: 10px;
  top: 14px;
  color: white;
}

.starwarsffg .dice-pool-dialog .dice-pool {
  min-height: 51px;
}

.starwarsffg .dice-pool-dialog .pool-value {
  border: 1px solid black;
  background-color: #ddd;
}

.starwarsffg .dice-pool-dialog .pool-value input {
  border: 0;
  font-size: 30px;
  text-align: center;
  background: none;
}

.starwarsffg .dice-pool-dialog .upgrade-buttons {
  display: flex;
  margin: 10px;
}

.starwarsffg .ffgDiceArray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.starwarsffg .ffgDiceArray .dice-rolls {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.starwarsffg .ffgDiceArray .dice-rolls .roll {
  width: 40px;
  float: left;
}

.starwarsffg .dice-result .roll-success {
  color: darkgreen;
}

.starwarsffg .dice-result .roll-failure {
  color: darkred;
}

.starwarsffg .item-display {
  margin: 0.5rem 0 0.8rem 0;
  padding: 0.5rem;
  border: 1px solid #782e22;
  background: rgba(255, 255, 255, 0.75);
}

.starwarsffg .item-display img {
  height: 50px;
  width: auto;
}

.starwarsffg .item-display h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.starwarsffg .item-display h4 input {
  width: 70%;
}

.starwarsffg .item-display .item-miss {
  text-align: center;
  font-style: italic;
  color: darkred;
}

.starwarsffg span.dietype {
  font-family: "EotESymbol", sans-serif;
  position: relative;
}

.starwarsffg span.dietype.ability {
  color: green;
}

.starwarsffg span.dietype.advantage {
  color: black;
}

.starwarsffg span.dietype.boost {
  color: lightskyblue;
}

.starwarsffg span.dietype.challenge {
  color: red;
}

.starwarsffg span.dietype.dark {
  color: black;
}

.starwarsffg span.dietype.despair {
  color: black;
}

.starwarsffg span.dietype.difficulty {
  color: purple;
}

.starwarsffg span.dietype.forcepoint {
  color: black;
}

.starwarsffg span.dietype.failure {
  color: black;
}

.starwarsffg span.dietype.force {
  color: black;
}

.starwarsffg span.dietype.light {
  color: black;
}

.starwarsffg span.dietype.proficiency {
  color: yellow;
}

.starwarsffg span.dietype.remsetback {
  color: black;
}

.starwarsffg span.dietype.remsetback::after {
  content: "-";
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.starwarsffg span.dietype.restricted {
  color: red;
}

.starwarsffg span.dietype.restricted::after {
  content: "-";
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.starwarsffg span.dietype.setback {
  color: black;
}

.starwarsffg span.dietype.success {
  color: black;
}

.starwarsffg span.dietype.threat {
  color: black;
}

.starwarsffg span.dietype.triumph {
  color: black;
}

.starwarsffg span.dietype.adddifficulty {
  color: purple;
}

.starwarsffg span.dietype.adddifficulty::after {
  content: "+";
  color: white;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.starwarsffg span.dietype.updifficulty {
  color: purple;
}

.starwarsffg span.dietype.updifficulty::after {
  content: "\2191";
  color: white;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.starwarsffg span.dietype.cancelthreat {
  color: black;
}

.starwarsffg span.dietype.cancelthreat::after {
  content: "\2716";
  color: red;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.starwarsffg span.bold {
  font-weight: bold;
}

.starwarsffg span.italic {
  font-style: italic;
}

.starwarsffg .popout-editor {
  text-align: left;
  font-size: 12px;
  overflow: auto;
  height: 100%;
  width: 100%;
  min-height: 2rem;
  position: relative;
}

.starwarsffg .popout-editor .popout-editor-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.starwarsffg .popout-editor-window .sheet-body {
  height: 100%;
}

.starwarsffg .popout-editor-window .editor {
  width: 100%;
  height: 100%;
}

.starwarsffg .editor {
  width: 100%;
  height: 100%;
  min-height: 2rem;
}

.starwarsffg .tox.tox-tinymce {
  height: 100% !important;
}

.starwarsffg .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.starwarsffg .tabs .item {
  line-height: 15px;
  font-weight: bold;
  background-color: #aaa;
  padding: 3px;
  margin: 0 5px;
  --notchSize: 10px;
  -webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
}

.starwarsffg .tabs .item:hover {
  text-shadow: 0 0 8px white;
}

.starwarsffg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
  background-color: #490c0b;
  color: white;
  font-weight: normal;
}

.starwarsffg .item-sheet-weapon .charname input {
  color: #134103;
}

.starwarsffg .item-sheet-weapon .characteristic-item .characteristic-label {
  background-color: #134103;
}

.starwarsffg .item-sheet-weapon .characteristic-item .characteristic {
  border: 5px double #134103;
}

.starwarsffg .item-sheet-weapon .block-background {
  background-color: #bffebf;
}

.starwarsffg .item-sheet-weapon .attribute .block-title {
  background-color: #134103;
}

.starwarsffg .item-sheet-weapon .sheet-body {
  height: calc(100% - 31.875rem);
}

.starwarsffg .item-sheet-armor .charname input {
  color: #553113;
}

.starwarsffg .item-sheet-armor .characteristic-item .characteristic-label {
  background-color: #553113;
}

.starwarsffg .item-sheet-armor .characteristic-item .characteristic {
  border: 5px double #553113;
}

.starwarsffg .item-sheet-armor .block-background {
  background-color: #e9c09e;
}

.starwarsffg .item-sheet-armor .attribute .block-title {
  background-color: #553113;
}

.starwarsffg .item-sheet-armor .sheet-body {
  height: calc(100% - 21.3125rem);
}

.starwarsffg .item-sheet-gear .charname input {
  color: #2c0344;
}

.starwarsffg .item-sheet-gear .characteristic-item .characteristic-label {
  background-color: #2c0344;
}

.starwarsffg .item-sheet-gear .characteristic-item .characteristic {
  border: 5px double #2c0344;
}

.starwarsffg .item-sheet-gear .block-background {
  background-color: #e9c6fd;
}

.starwarsffg .item-sheet-gear .attribute .block-title {
  background-color: #2c0344;
}

.starwarsffg .item-sheet-gear .sheet-body {
  height: calc(100% - 21.3125rem);
  overflow: auto;
}

.starwarsffg .item-sheet-talent .charname input {
  color: #821517;
}

.starwarsffg .item-sheet-talent .characteristic-item .characteristic-label {
  background-color: #821517;
}

.starwarsffg .item-sheet-talent .characteristic-item .characteristic {
  border: 5px double #821517;
}

.starwarsffg .item-sheet-talent .block-background {
  background-color: #f2ebde;
}

.starwarsffg .item-sheet-talent .attribute .block-title {
  background-color: #821517;
}

.starwarsffg .item-sheet-talent .sheet-body {
  height: calc(100% - 20.3125rem);
}

.starwarsffg .item-sheet-vehicle-weapon .charname input {
  color: #1f1c37;
}

.starwarsffg .item-sheet-vehicle-weapon .characteristic-item .characteristic-label {
  background-color: #1f1c37;
}

.starwarsffg .item-sheet-vehicle-weapon .characteristic-item .characteristic {
  border: 5px double #1f1c37;
}

.starwarsffg .item-sheet-vehicle-weapon .block-background {
  background-color: #cccae3;
}

.starwarsffg .item-sheet-vehicle-weapon .attribute .block-title {
  background-color: #1f1c37;
}

.starwarsffg .item-sheet-vehicle-weapon .firing-arcs {
  gap: 0px;
  text-align: left;
  padding: 0 10px;
  line-height: 20px;
}

.starwarsffg .item-sheet-vehicle-weapon .firing-arcs label {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: .675rem;
}

.starwarsffg .item-sheet-vehicle-weapon .firing-arcs input[type="checkbox"] {
  position: relative;
  padding: 0;
  margin: 0;
  width: 13px;
  height: 13px;
}

.starwarsffg .item-sheet-vehicle-weapon .sheet-body {
  height: calc(100% - 34.6875rem);
}

.starwarsffg .item-sheet-vehicle-attachment .charname input {
  color: #c87b4d;
}

.starwarsffg .item-sheet-vehicle-attachment .characteristic-item .characteristic-label {
  background-color: #c87b4d;
}

.starwarsffg .item-sheet-vehicle-attachment .characteristic-item .characteristic {
  border: 5px double #c87b4d;
}

.starwarsffg .item-sheet-vehicle-attachment .block-background {
  background-color: #dfc68d;
}

.starwarsffg .item-sheet-vehicle-attachment .attribute .block-title {
  background-color: #c87b4d;
}

.starwarsffg .item-sheet-vehicle-attachment .sheet-body {
  height: calc(100% - 21.3125rem);
}

.starwarsffg .item:hover .hover {
  text-decoration: underline;
}

.starwarsffg .hover:hover .tooltip {
  opacity: 1;
  z-index: 500;
}

.starwarsffg .hover .tooltip {
  top: 30px;
  background-color: rgba(25, 24, 19, 0.8);
  color: white;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
  z-index: -500;
  padding: 0 10px;
}

.starwarsffg .item-sheet-criticalinjury .charname input {
  color: #830707;
}

.starwarsffg .item-sheet-criticalinjury .block-background {
  background-color: #da9797;
}

.starwarsffg .item-sheet-criticalinjury .block-background .block-title {
  background-color: #830707;
}

.starwarsffg .item-sheet-criticalinjury .severity-img {
  max-height: 15px;
  max-width: 15px;
  border: 0;
}

.starwarsffg .item-sheet-criticalinjury .severity-select {
  width: 185px;
}

.starwarsffg .item-sheet-criticalinjury select:focus {
  box-shadow: 0 0 5px #7da9c2;
  background-color: #7da9c2;
}

.starwarsffg .item-sheet-criticalinjury .editor-wrapper {
  display: block;
}

.starwarsffg .item-sheet-criticalinjury .block-background.block-editor {
  padding: 10px;
  background-color: #da9797;
  height: 8rem;
}

.starwarsffg .item-sheet-criticalinjury .severity-block {
  position: relative;
}

.starwarsffg .item-sheet-criticalinjury .sheet-body {
  height: calc(100% - 19.375rem);
}

.starwarsffg.sheet.item .item-sheet-forcepower .popout-editor {
  height: 100%;
  width: 100%;
  min-height: 2rem;
  position: relative;
}

.starwarsffg .item-sheet-forcepower {
  min-width: 700px;
  min-height: 600px;
}

.starwarsffg .item-sheet-forcepower .talent-background .talent-header {
  background-color: #0e4400;
}

.starwarsffg .item-sheet-forcepower .talent-background .talent-header div input[type="text"] {
  background-color: #1a8200;
}

.starwarsffg .item-sheet-forcepower .header-fields .talent-body {
  margin-top: 5px;
  padding: 0 5px;
}

.starwarsffg .item-sheet-forcepower .header-fields {
  position: relative;
}

.starwarsffg .item-sheet-forcepower .header-fields .talent-actions {
  position: absolute;
  right: 10px;
  top: 14px;
  color: white;
}

.starwarsffg .item-sheet-forcepower .header-fields textarea {
  max-width: 695px;
}

.starwarsffg .item-sheet-forcepower .sheet-body {
  margin: 0;
  height: calc(100% - 10rem);
}

.starwarsffg .item-sheet-forcepower .talent-cost {
  bottom: -5px;
  left: 7px;
  position: absolute;
  z-index: 10;
  width: 60px;
}

.starwarsffg .item-sheet-forcepower .talent-cost input {
  width: 25px;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

.starwarsffg .item-sheet-forcepower .talent-modifiers {
  position: absolute;
  right: 5px;
  bottom: 2px;
  z-index: 10;
}

.starwarsffg.sheet.item .item-sheet-specialization .popout-editor {
  height: 100%;
  width: 100%;
  min-height: 2rem;
  position: relative;
}

.starwarsffg .item-sheet-specialization {
  min-width: 700px;
  min-height: 600px;
}

.starwarsffg .item-sheet-specialization .talent-upgrade {
  margin: 1px 10px 4px 10px;
}

.starwarsffg .item-sheet-specialization .sheet-body {
  margin: 0;
  height: calc(100% - 9rem);
}

.starwarsffg .item-sheet-specialization input.conflict {
  opacity: .5;
}

.starwarsffg .item-sheet-specialization input.conflict:after {
  content: "";
  background-color: red;
}

.starwarsffg .burst-8 {
  z-index: -1;
  left: 7px;
  background: white;
  width: 26px;
  height: 26px;
  position: absolute;
  text-align: center;
  transform: rotate(20deg);
}

.starwarsffg .burst-8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background: white;
  transform: rotate(135deg);
}

.starwarsffg div.conflict {
  height: 23px;
  width: 22px;
  position: absolute;
  background: red;
  left: 9px;
  top: 7px;
  z-index: -1;
}

.starwarsffg .item-sheet-species .sheet-header img.profile-img {
  flex: 0 0 100px;
  height: 124px;
  width: auto;
  max-width: 124px;
  border: 0;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.starwarsffg .item-sheet-species .characteristics {
  width: 100%;
}

.starwarsffg .item-sheet-species .characteristics .characteristic-item .characteristic-label {
  background-color: #490c0b;
}

.starwarsffg .item-sheet-species .characteristic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px double black;
  margin: auto;
  position: relative;
}

.starwarsffg .item-sheet-species .characteristic .characteristic-value input {
  height: 40px;
  border: 0;
  font-size: 30px;
  text-align: center;
}

.starwarsffg .item-sheet-species .characteristic .characteristic-value input:focus {
  border-radius: 50%;
}

.starwarsffg .item-sheet-species .attribute .block-title {
  background-color: #490c0b;
}

.starwarsffg .item-sheet-species .sheet-body {
  height: calc(100% - 25.25rem);
}

.starwarsffg .item-sheet-career .sheet-body {
  height: calc(100% - 11.75rem);
}

.og-character-import {
  min-width: 96%;
}

.og-character-import h4 {
  min-width: 70%;
  text-align: center;
}

.og-character-import button {
  min-width: 48%;
  margin: 5px 2px;
}
