.window-app .window-content {
  background: #f2f2f2;
}

div .container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

div .container.attributes {
    margin-top: 5px
}

div .container.talents {
    margin-top: 5px
}

.worldbuilding.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
}

/* Sheet Header */
.worldbuilding.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
}

.worldbuilding.sheet .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.worldbuilding.sheet .header-fields {
    flex: 1;
    height: auto;
}

.worldbuilding.sheet .charname {
    border-bottom: 0;
    display: inline-grid;
    padding: 5px;
}

.worldbuilding.sheet .charname.minion {
    border-bottom: 0;
    display: inline;
    padding: 5px;
}

.worldbuilding.sheet .charname input {
    width: auto;
    margin: 5px 5px 10px 5px;
}

.worldbuilding.sheet .resource {
    height: 40px;
    padding: 5px;
    margin: 0;
    display: inline-table;
}

.worldbuilding.sheet .resource input {
    width: 82px;
    height: 22px;
}

.worldbuilding.sheet .xp-box {
    position: absolute;
    padding: 0;
    right: 10px;
    height: 40px;
    margin: 0;
    display: inline-table;
}

.worldbuilding.sheet .xp-box input {
    width: 68px;
    height: 22px;
}

.worldbuilding.sheet .resource.small input {
    width: 40px;
    height: 22px;
}

/* Navigation Tabs */
.worldbuilding.sheet .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.worldbuilding.sheet .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.worldbuilding.sheet .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

/* Content Tabs */
.worldbuilding.sheet .sheet-body {
    height: calc(100% - 22.7em);
    overflow: auto;
}

.worldbuilding.sheet .sheet-body.minion {
    height: calc(100% - 11.5em);
    overflow: auto;
}

.worldbuilding.sheet .sheet-body.small {
    height: calc(100% - 14em);
    overflow: auto;
}

.worldbuilding.sheet .sheet-body .tab {
    height: 100%;
}
.worldbuilding.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}

/* Topper */
.worldbuilding.sheet .sheet-topper {
    background: #435a76;
    overflow: auto;
    text-align:center;
    border-radius: 15px;
}
.worldbuilding.sheet .sheet-topper * > input {
    background: #f2f2f2;
    border-radius: 0 0 15px 15px;
    width: auto;
}

/*
This seems to be necessary to make scrolling inside the actor
sheet work. There is likely a better way to do this.
*/
.editable {
    max-height: 100%;
}

/* Items */
.worldbuilding.sheet .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.worldbuilding.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.worldbuilding.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.worldbuilding.sheet .items-list .item-name {
    margin: 0;
}
.worldbuilding.sheet .items-list .item-controls {
    flex: 0 0 36px;
}

/* Attributes */
.worldbuilding.sheet .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.worldbuilding.sheet .attribute-label {
    flex: 1.5;
}
.worldbuilding.sheet .attribute-control {
    flex: 0 0 20px;
}

.worldbuilding.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.worldbuilding.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
    text-align: center;
    overflow: auto;
}

.worldbuilding.sheet .attribute-value.checkbox {
    text-align: center;
}

.worldbuilding.sheet .attributes-list li a.attribute-control {
    border: none;
}

/* Talents */
.worldbuilding.sheet .talents-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.worldbuilding.sheet .talents-label {
    flex: 1.5;
}

.worldbuilding.sheet .talents-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.worldbuilding.sheet .talents-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
    text-align: center;
    overflow: auto;
}


.worldbuilding.sheet .characteristics-list {
    list-style: none;
}

.worldbuilding.sheet .characteristics-list input {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;;
    display: block;;
    font-size: 18pt;
}

.worldbuilding.sheet .characteristics-list input:invalid {
    border: 2px solid red;
}

.worldbuilding.sheet .characteristics-list label {
    display: block;
    width: 3em;
    text-align: center;
}

/*
A split-box is a box that is divided in half.
This is designed to mimic the threshold, wound and other
boxes at the top of the standard FFG character sheets.
 */
.split-box {
    border: 2px solid black;
    border-radius: 15px;
    width: max-content;
}

.split-box .divider {
    width: 1px;
    background: darkgray;
}

.split-box > .content {
    display: flex;
}

.split-box h1 {
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-radius: 15px 15px 5px 5px;
    background: #435a76;
    padding: 0;
    margin: 0;
}

.split-box input {
    border: 0;
    text-align: center;
    background: transparent;
}

.split-box label {
    display: block;
    font-size: 90%;
    color: #222;
    text-align: center;
}


.split-box .left label {
    display: block;
    font-size: 90%;
    color: #fff;
    font-weight: bold;
    background: #652825;
    border-radius: 5px 0px 0px 15px;
    text-align: center;
}

.split-box .right label {
    display: block;
    font-size: 90%;
    color: #000;
    font-weight: bold;
    background: #90cbdd;
    border-radius: 0px 5px 15px 0px;
    text-align: center;
}

.split-box .single label {
    display: block;
    font-size: 90%;
    color: #000;
    font-weight: bold;
    background: #90cbdd;
    border-radius: 5px 5px 15px 15px;
    text-align: center;
}

.split-box .single-clear label {
    display: block;
    font-size: 90%;
    color: #90cbdd;
    font-weight: bold;
    background: #90cbdd;
    border-radius: 5px 5px 15px 15px;
    text-align: center;
}

.dice-pool img {
    border: 0;
    width: 2em;
    height: 2em;
}
