.window-app .window-content {
  /* background: #f2f2f2; */
  background: rgba(255, 255, 255, 0.7);
  font-size: 9pt;
}

.group-manager {
  background: rgba(255, 255, 255, 0.7);
  font-family: Roboto, sans-serif;
  color: #222;
  height: 100%;
  width: auto;
}

.tableWithHeader {
  overflow-y: auto;
  margin: -1px;
  height: calc(100% - 6em);
  display: flex;
  margin-top: -5px;
}

.tooltip {
  top: 30px;
  background-color: rgb(25, 24, 19, 0.8);
  color: white;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: -500;
}

.item:hover .hover {
  text-decoration: underline;
}

.hover:hover .tooltip {
  opacity: 1;
  z-index: 500;
}

table thead th {
  padding: 0.25em 0;
  text-align: left;
}
.skillfilter {
  display: flex;
}
.skillfilter div {
  display: flex;
}

.skill-rank {
  width: 30px;
  text-align: center;
}

.defence-box {
  position: relative;
  width: 200px;
  height: 200px;
  background: url(../images/shipdefence.png);
  background-size: 100px;
  background-position: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  text-align: center;
}

.defence-box * > .defence-fore {
  position: absolute;
  top: 40px;
  left: 85px;
  display: grid;
}

.defence-box * > .defence-aft {
  position: absolute;
  bottom: 0;
  left: 85px;
  display: grid;
}

.defence-box * > .defence-port {
  position: absolute;
  left: 36px;
  top: 107px;
  display: grid;
}

.defence-box * > .defence-starboard {
  position: absolute;
  right: 4px;
  top: 107px;
  display: grid;
}

.special-dice-roller form input[type="checkbox"] {
  margin: 0;
}

div .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 11pt;
}

div .container.attributes {
  margin-top: 5px;
}

div .container.talents {
  margin-top: 5px;
}

.starwarsffg.sheet .window-content {
  padding: 5px;
  overflow-y: hidden;
}

.starwarsffg.sheet.actor {
  min-width: 575px;
  min-height: 489px;
}

/* Sheet Header */
.starwarsffg.sheet .sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 100px;
}
/* 
.starwarsffg.sheet .profile-img {
  flex: 0 0 100px;
  height: 124px;
  width: auto;
  max-width: 124px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
} */

.starwarsffg.sheet .header-fields {
  flex: 1;
  height: auto;
}

.starwarsffg.sheet .charname {
  border-bottom: 0;
  display: flex;
}

.starwarsffg.sheet .charname.minion {
  border-bottom: 0;
  display: flex;
}

.starwarsffg.sheet .charname input {
  width: auto;
  margin: 5px 5px 10px 5px;
}

.starwarsffg.sheet .resource {
  height: 40px;
  padding-bottom: 4px;
  padding-left: 2px;
  margin: 0;
  display: inline-table;
}

.starwarsffg.sheet .resource input {
  width: 82px;
  height: 22px;
}

.starwarsffg.sheet .xp-box {
  position: absolute;
  padding: 0;
  left: 25px;
  height: auto;
  margin: 0;
  bottom: 10px;
  display: flex;
}

.starwarsffg.sheet .xp-box input {
  width: 61px;
  height: 14px;
}

.starwarsffg.sheet .resource.small input {
  width: 40px;
  height: 22px;
}

/* Navigation Tabs */
.starwarsffg.sheet .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-top: 3px;
}

.starwarsffg.sheet .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.starwarsffg.sheet .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

/* Content Tabs */
.starwarsffg.sheet .sheet-body {
  height: calc(100% - 19em);
  overflow: auto;
  border: 1px solid #868686;
}

.starwarsffg.sheet .sheet-body.minion {
  height: calc(100% - 14em);
  overflow: auto;
}

.starwarsffg.sheet .sheet-body.vehicle {
  height: calc(100% - 25em);
  overflow: auto;
}

.starwarsffg.sheet .sheet-body.small {
  height: calc(100% - 16em);
  overflow: auto;
}

.starwarsffg.sheet .sheet-body .tab {
  height: 100%;
}
.starwarsffg.sheet .sheet-body .editor {
  width: 100%;
  height: 100%;
}

/* Topper */
.starwarsffg.sheet .sheet-topper {
  background: #435a76;
  overflow: auto;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
}
.starwarsffg.sheet .sheet-topper * > input {
  background: #f2f2f2;
  border-radius: 0 0 15px 15px;
  width: auto;
}

/*
This seems to be necessary to make scrolling inside the actor
sheet work. There is likely a better way to do this.
*/
.editable {
  max-height: 100%;
}

/* Items */
.starwarsffg.sheet .items {
  margin: 0;
  border: 0;
}

.starwarsffg.sheet .items-header {
  border: 1px solid #aaa;
  border-radius: 2px;
}
.starwarsffg.sheet .items-list {
  overflow-y: auto;
}
.starwarsffg.sheet .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}
.starwarsffg.sheet .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.starwarsffg.sheet .items-list .item-name {
  margin: 0;
}
.starwarsffg.sheet .items-list .item-controls {
  z-index: 500;
  width: 20px;
  text-align: end;
}

.starwarsffg.sheet .items-list .item:hover {
  background: rgb(25, 24, 19, 0.12);
  margin: +2px;
}

/* Attributes */
.starwarsffg.sheet .attributes {
  margin: 0;
  border: 0;
}

.starwarsffg.sheet .attributes-header {
  padding: 5px;
  margin: 0 0 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-weight: bold;
}
.starwarsffg.sheet .attribute-label {
  flex: 1.5;
}
.starwarsffg.sheet .attribute-control {
  flex: 0 0 20px;
}

.starwarsffg.sheet .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.starwarsffg.sheet .attributes-list tr > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  overflow: auto;
}

.starwarsffg.sheet .attribute-value.checkbox {
  text-align: center;
}

.starwarsffg.sheet .attributes-list tr a.attribute-control {
  border: none;
}

.starwarsffg.sheet .attributes-list .attribute.item {
  position: relative;
}

.starwarsffg.sheet .attributes-list .attribute.item:hover {
  background: rgb(25, 24, 19, 0.12);
  margin: +2px;
}

/* Talents */
.starwarsffg.sheet .talents {
  margin: 0 5px 0 5px;
}

.starwarsffg.sheet .talents-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.starwarsffg.sheet .talents-label {
  flex: 1.5;
}

.starwarsffg.sheet .talents-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.starwarsffg.sheet .talents-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  text-align: center;
  overflow: auto;
}

.starwarsffg.sheet .talents-list .talents.item {
  position: relative;
}

.starwarsffg.sheet .talents-list .talents.item:hover {
  background: rgb(25, 24, 19, 0.12);
  margin: +2px;
}

.starwarsffg.sheet .characteristics-list {
  list-style: none;
  box-shadow: 0px 1px 1px 0px #999;
}

.starwarsffg.sheet .characteristics-list input {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  text-align: center;
  display: block;
  font-size: 18pt;
}

.starwarsffg.sheet .characteristics-list input:invalid {
  border: 2px solid red;
}

.starwarsffg.sheet .characteristics-list label {
  display: block;
  width: 3em;
  text-align: center;
}

/*
A split-box is a box that is divided in half.
This is designed to mimic the threshold, wound and other
boxes at the top of the standard FFG character sheets.
 */
.split-box {
  border: 2px solid black;
  border-radius: 19px;
  width: max-content;
}

.split-box .divider {
  width: 1px;
  background: darkgray;
}

.split-box > .content {
  display: flex;
}

.split-box h1 {
  font-size: 100%;
  text-align: center;
  color: #fff;
  border-radius: 50px 50px 0px 0px;
  background: #435a76;
  padding: 0;
  margin: 0;
}

.split-box input {
  border: 0;
  text-align: center;
  background: #ffffff78;
}

.split-box label {
  display: block;
  font-size: 90%;
  color: #222;
  text-align: center;
}

.split-box .left label {
  display: block;
  font-size: 90%;
  color: #fff;
  font-weight: bold;
  background: #652825;
  border-radius: 0px 0px 0px 50px;
  text-align: center;
}

.split-box .right label {
  display: block;
  font-size: 90%;
  color: #000;
  font-weight: bold;
  background: #90cbdd;
  border-radius: 0px 0px 50px 0px;
  text-align: center;
}

.split-box .single label {
  display: block;
  font-size: 90%;
  color: #000;
  font-weight: bold;
  background: #90cbdd;
  border-radius: 0px 0px 50px 50px;
  text-align: center;
}

.split-box .single-clear label {
  display: block;
  font-size: 90%;
  color: #90cbdd;
  font-weight: bold;
  background: #90cbdd;
  border-radius: 0px 0px 50px 50px;
  text-align: center;
}

.dice-pool img {
  border: 0;
  width: 2em;
  height: 2em;
}
